{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block nav %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block content %}
    {#<p id="title">{{'directory.title.new'|trans}} </p>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('directory') }}">
            {{'directory.back'|trans}}
        </a>
    </li>
</ul>#}

<h3>{{'directory.title.new'|trans}}</h3>

<p>* : {{'directory.required'|trans}}</p>
<form action="{{ path('directory_create') }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="_method" value="POST" />
    <div class='table-responsive'>
        <table class='table'>
        	<tr>
        		<th>{{ form_label(form.firstname, 'directory.firstname'|trans) }}*</th>
        		<td>{{ form_widget(form.firstname) }}</td>
        	</tr>
            <tr>
        		<th>{{ form_label(form.name, 'directory.name'|trans) }}*</th>
        		<td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.job_phone_number, 'directory.jobphonenumber'|trans) }}*</th>
        		<td>{{ form_widget(form.job_phone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.quick_phone_number, 'directory.quickphonenumber'|trans) }}</th>
        		<td>{{ form_widget(form.quick_phone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.cellphone_number, 'directory.cellphonenumber'|trans) }}</th>
        		<td>{{ form_widget(form.cellphone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.function_service, 'directory.functionservice'|trans) }}*</th>
        		<td>{{ form_widget(form.function_service) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.leader, 'directory.leader'|trans) }}*</th>
        		<td>{{ form_widget(form.leader) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.mail, 'directory.mail'|trans) }}</th>
        		<td>{{ form_widget(form.mail) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(form.country, 'directory.country'|trans) }}*</th>
        	    <td>{{ form_widget(form.country) }}</td>
            </tr>
        </table>
    </div>
    {{ form_widget(form._token) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'directory.submit.create'|trans }}</button>
    </p>
</form>
<a class='btn btn-info' href="{{ path('directory') }}">
    {{ 'directory.back'|trans }}
</a>

{% endblock %}
