<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{path('main_menu')}}"><img alt="Pichon" src="{{ asset('bundles/coyotefront/images/Logo-PICHON_80.png') }}"></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{path('main_menu')}}">{{'base.nav.accueil'|trans}}</a></li>
            <li><a href="http://www.pichonindustries.com">{{'base.nav.site'|trans}}</a></li></li>
            <li><a href="{{path('contact')}}">{{'base.nav.contact'|trans}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="{{ path('main_language', {'_locale' : 'fr'}) }}" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{'base.choose_language'|trans}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('main_language', {'_locale' : 'fr'}) }}">
                        <img src="{{ asset('bundles/coyotefront/images/flag_francais.jpg') }}" alt="flag_french" id="flag_french"/> {{'base.nav.flag.french'|trans}}</a>
                    </li>
                    <li><a href="{{ path('main_language', {'_locale' : 'en'}) }}">
                        <img src="{{ asset('bundles/coyotefront/images/flag_grande_bretagne.jpg') }}" alt="flag_english" id="flag_english"/> {{'base.nav.flag.english'|trans}}</a>
                    </li>
                    <li><a href="{{ path('main_language', {'_locale' : 'pl'}) }}">
                        <img src="{{ asset('bundles/coyotefront/images/flag_pologne.jpg') }}" alt="flag_pologne" id="flag_pologne"/> {{'base.nav.flag.polish'|trans}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>