{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block nav %}
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->
{% endblock nav %}

{% block content %}
    <div>
        <p class="lead">{{'accueil.menu.message'|trans }}<br>
        {% if quote %}
            {% if app.request.locale == "fr" %}
                <blockquote>
                    <p>"{{quote.0.citation}}"</p>
                    <small><cite title="Source Title">{{quote.0.author}}</cite></small>
                </blockquote>
            {% endif %}
        {% endif %}
        </p>
    </div>
{% endblock %}