{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
{% endblock %}

{% block content %}
{{ form_start(form)}}
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    		<th id='tab_expense_site'>Site</th>
    		<th id='tab_expense_date'>Date</th>
    		<th id='tab_expense_item'>Code Article</th>
    		<th id='tab_expense_devise'>Devise</th>
    		<th id='tab_expense_qte'>Quantité</th>
    		<th id='tab_expense_amount'>Montant réel</th>
    		<th id='tab_expense_amounttc'>Montant TTC</th>
    		<th id='tab_expense_amounttva'>Montant TVA</th>
    		<th id='tab_expense_business'>Affaire</th>
    		<th id='tab_expense_comment'>Commentaire</th>
    	</tr>
    	<tr>
    		<th id='tab_expense_site' name="site">
    			{{ form_widget(form.site)}}
    		</th>
    		<th id='tab_expense_date'><input type='text' name='date' id='date' ></th>
    		<th id='tab_expense_item' name="article" class='itemfrais'>
                {{ form_widget(form.fee)}}
    		</th>
    		<th id='tab_expense_devise' name='devise' >
    		    {{ form_widget(form.currency)}}
    		</th>
    		<th id='tab_expense_qte'><input type='text' name='qte' id='qte' ></th>
    		<th id='tab_expense_amount'><input type='text' name='reel' id='reel' ></th>
    		<th id='tab_expense_amountttc'><input type='text' name='ttc' id='ttc' ></th>
    		<th id='tab_expense_amounttva'><input type='text' name='tva' id='tva' disabled></th>
    		<th id='tab_expense_business' name='affaire'>
                {{ form_widget(form.business)}}
    		</th>
    		<th id='tab_expense_comment'><input type='text' name='com' id='com' ></th>
    	</tr>
    </table>
</div><br>
{{ form_row(form.save)}}
<button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
{{ form_end(form)}}
{% endblock %}