{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
{% endblock %}

{% block content %}
<form role="form" action="{{ path('coyote_expense_save') }}" method='post'>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    		<th id='tab_expense_site'>Site</th>
    		<th id='tab_expense_date'>Date</th>
    		<th id='tab_expense_item'>Code Article</th>
    		<th id='tab_expense_devise'>Devise</th>
    		<th id='tab_expense_qte'>Quantité</th>
    		<th id='tab_expense_amount'>Montant réel</th>
    		<th id='tab_expense_amounttc'>Montant TTC</th>
    		<th id='tab_expense_amounttva'>Montant TVA</th>
    		<th id='tab_expense_business'>Affaire</th>
    		<th id='tab_expense_comment'>Commentaire</th>
    	</tr>
    	<tr>
    	    {{ form_start(form)}}
    		<th id='tab_expense_site'>
    			{{ form_widget(form.site)}}
    		</th>
    		<th id='tab_expense_date'>
    		    {{ form_widget(form.date)}}
    		</th>
    		<th id='tab_expense_item'>
    			{{ form_widget(form.fee)}}
    		</th>
    		<th id='tab_expense_devise'>
    			{{ form_widget(form.currency)}}
    		</th>
    		<th id='tab_expense_qte'>
    		    {{ form_widget(form.amount)}}
    		</th>
    		<th id='tab_expense_amount'>
    		    {{ form_widget(form.actual_amount)}}
    		</th>
    		<th id='tab_expense_amountttc'>
    		    {{ form_widget(form.amount_TTC)}}
    		</th>
    		<th id='tab_expense_amounttva'>
    		    {{ form_widget(form.amount_TVA)}}
    		</th>
    		<th id='tab_expense_business'>
    			{{ form_widget(form.business)}}
    		</th>
    		<th id='tab_expense_comment'>
    		    {{ form_widget(form.comment)}}
    		</th>
    		{{ form_row(form.save)}}
    		{{ form_end(form)}}
    	</tr>
    	<tr>
    	    {{ form_start(form1)}}
    		<th id='tab_expense_site'>
    			{{ form_widget(form1.site)}}
    		</th>
    		<th id='tab_expense_date'>
    		    {{ form_widget(form1.date)}}
    		</th>
    		<th id='tab_expense_item'>
    			{{ form_widget(form1.fee)}}
    		</th>
    		<th id='tab_expense_devise'>
    			{{ form_widget(form1.currency)}}
    		</th>
    		<th id='tab_expense_qte'>
    		    {{ form_widget(form1.amount)}}
    		</th>
    		<th id='tab_expense_amount'>
    		    {{ form_widget(form1.actual_amount)}}
    		</th>
    		<th id='tab_expense_amountttc'>
    		    {{ form_widget(form1.amount_TTC)}}
    		</th>
    		<th id='tab_expense_amounttva'>
    		    {{ form_widget(form1.amount_TVA)}}
    		</th>
    		<th id='tab_expense_business'>
    			{{ form_widget(form1.business)}}
    		</th>
    		<th id='tab_expense_comment'>
    		    {{ form_widget(form1.comment)}}
    		</th>
    		{{ form_row(form1.save)}}
    		{{ form_end(form1)}}
    	</tr>

    </table>
</div><br>


<button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
</form>
{% endblock %}