<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Pichon - WebSite
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/main.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/justified-nav.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/signin.css') }}" type="text/css" media="all" />
    {% endblock %}
    
    {% block javascripts %}
    {% endblock %}
    
    <link rel="shortcut icon" href="{{ asset('bundles/coyotesite/images/pichonicon.ico') }}" />
</head>
<div id="page">
    <body>
        <header>
      
            <div class="masthead">
                <h1><a href="{{ path('accueil') }}">
                    <img src="{{ asset('bundles/coyotesite/images/logo.png') }}" alt="PICHON" id="logo"/>
                </a></h1>
                
            </div>
      
            <section>
                Test affichage <br>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>Id</th>
    		<th id='tab_expense_site'>Site</th>
    		<th id='tab_expense_date'>Date</th>
    		<th id='tab_expense_item'>Code Article</th>
    		<th id='tab_expense_devise'>Devise</th>
    		<th id='tab_expense_qte'>Quantité</th>
    		<th id='tab_expense_amount'>Montant réel</th>
    		<th id='tab_expense_amounttc'>Montant TTC</th>
    		<th id='tab_expense_amounttva'>Montant TVA</th>
    		<th id='tab_expense_business'>Affaire</th>
    		<th id='tab_expense_comment'>Commentaire</th>
    		<th>Visualiser/Editer</th>
    	</tr>
    	{% for entity in data %}
            <tr>
                <th><a href="{{ path('coyote_expense_show', { 'id': entity.id }) }}">{{ entity.id }}</a></th>
                <th>{{ entity.site }}</th>
                <th>{{ entity.date }}</th>
                <th>{{ entity.fee }}</th>
                <th>{{ entity.currency }}</th>
                <th>{{ entity.amount }}</th>
                <th>{{ entity.actualamount }}</th>
                <th>{{ entity.amountttc }}</th>
                <th>{{ entity.amounttva }}</th>
                <th id='tab_expense_business'>{{ entity.business }}</th>
                <th id='tab_expense_comment'>{{ entity.comment }}</th>
                <th>
                <ul>
                    <li>
                        <a href="{{ path('coyote_expense_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('coyote_expense_show', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </th>
            </tr>
        {% endfor %}
    </table>
</div><br>

            </section>
        </header>
        
        <footer>
            <p>
                Copyright ©2014 PICHON - Tous droits réservés
                <a>Mentions légales</a>
                <a>Plan du site</a>
                <a>Crédits</a>
                <a>Contact</a>
            </p>
        </footer>
    </body>
</div>
</html>