{% extends 'CoyoteFrontBundle:Base:base.html.twig' %}

{% block nav %}

    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}

{% endblock %}

{% block content %}

<div class="icon-preview">
    <a href="{{ path('directory_pdfdirectorybyfunctionservice', { 'country': country , 'business': business}) }}"><i class="mdi-action-print"></i> {{'directory.print'|trans}}</a>
</div>

{% if entity|length > 0 %}
    {% set functionservice = "" %}
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>{{'directory.firstname'|trans}}</th>
                <th>{{'directory.name'|trans}}</th>
                <th>{{'directory.jobphonenumber'|trans}}</th>
                <th>{{'directory.quickphonenumber'|trans}}</th>
                <th>{{'directory.phone'|trans}}</th>
                <th>{{'directory.cellphonenumber'|trans}}</th>
                <th>{{'directory.fax'|trans}}</th>
                <th>{{'directory.mail'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for data in entity %}
            {% if data.functionservice != functionservice %}
            <tr>
                <td COLSPAN=9><b>{{ data.functionservice }}</b></td>
            </tr>
            {% endif %}
        <tr>
            <td>{{ data.firstname }}</td>
            <td>{{ data.name }}</td>
            {% if data.jobphonenumber != 0 %}
            <td>{{ data.jobphonenumber }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ data.quickphonenumber}}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.cellphonenumber}}</td>
            <td>{{ data.fax }}</td>
            <td>{{ data.mail }}</td>
        </tr>
        {% set functionservice = data.functionservice %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{'directory.empty'|trans}}</p>
{% endif %}

{% endblock %}