{% extends 'CoyoteFrontBundle:Base:base.html.twig' %}

{% block nav %}

    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}

{% endblock %}

{% block content %}

<h3>{{'directory.title.show'|trans}}</h3>

<table class='table'>
    <tbody>
        <tr>
            <th>{{'directory.name'|trans}}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{'directory.firstname'|trans}}</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>{{'directory.jobphonenumber'|trans}}</th>
            <td>{{ entity.jobphonenumber }}</td>
        </tr>
        <tr>
            <th>{{'directory.quickphonenumber'|trans}}</th>
            <td>{{ entity.quickphonenumber }}</td>
        </tr>
        <tr>
            <th>{{'directory.cellphonenumber'|trans}}</th>
            <td>{{ entity.cellphonenumber }}</td>
        </tr>
        <tr>
            <th>{{'directory.functionservice'|trans}}</th>
            <td>{{ entity.functionservice }}</td>
        </tr>
    </tbody>
</table>

<a class='btn btn-info' href="{{ path('directory') }}">{{'directory.back'|trans}}</a>
<a class='btn btn-primary' href="{{ path('directory_edit', { 'id': entity.id }) }}">
    {{'directory.actions.edit'|trans}}
</a>
<form action="{{ path('directory_enabled', { 'id': entity.id }) }}" method="post" >
	<button type="submit" class="btn btn-danger">{{ 'directory.submit.enabled'|trans }}</button>
</form>
{% endblock %}
