{% extends ':Base:base.html.twig' %}

{% block body -%}
    <h1>Timetable list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>No_week</th>
                <th>Year</th>
                <th>Day</th>
                <th>Date</th>
                <th>Holiday</th>
                <th>Pay_period</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('timetable_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.noweek }}</td>
                <td>{{ entity.year }}</td>
                <td>{{ entity.day }}</td>
                <td>{{ entity.date }}</td>
                <td>{{ entity.holiday }}</td>
                <td>{{ entity.payperiod }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('timetable_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('timetable_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('timetable_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
