{% extends 'CoyoteSiteBundle::base.html.twig' %}

{% block user %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}

{{ include('CoyoteSiteBundle::navigation.html.twig') }}
	
{% endblock %}

{% block content %}

<h2>Formulaire Bon de commande</h2>
<h3>Pièces détachées</h3>

{#<form action="{{ path('formorder_create') }}" method="post" {{ form_enctype(form) }}>
    <table id='table_temps' class='table'>
        <tr>
            <th>Date de la commande : </th>
            <td>{{ form_errors(form.created_at) }}{{ form_widget(form.created_at)}}</td>
        
            <th>Livraison : </th>
            <td>{{ form_errors(form.transport) }}{{ form_widget(form.transport)}}</td>
        </tr>
        <tr>
            <th colspan="4">Client (Adresse de facturation)</th>
        </tr>
        <tr>
            <th><input type="radio" name="typeclient" value="Concessionnaire" > Concessionnaire</input></th>
            <th><input type="radio" name="typeclient" value="client" > Client</input></th>
            <th>Code client : </th>
            <td><input type="text" name="codeclient"></input></td>
        </tr>
        <tr>
            <th>NOM Prénom : </th>
            <td colspan="3">{{ form_errors(form.user.name) }}{{ form_widget(form.user.name)}}</td>
        </tr>
        <tr>
            <th>Adresse : </th>
            <td colspan="3">{{ form_errors(form.user.adress1) }}{{ form_widget(form.user.adress1)}}</td>
        </tr>
        <tr>
            <th>Adresse(suite) : </th>
            <td colspan="3">{{ form_errors(form.user.adress2) }}{{ form_widget(form.user.adress2)}}</td>
        </tr>
        <tr>
            <th>Ville : </th>
            <td>{{ form_errors(form.user.city) }}{{ form_widget(form.user.city)}}</td>
            <th>Code Postal : </th>
            <td>{{ form_errors(form.user.postal_box) }}{{ form_widget(form.user.postal_box)}}</td>
        </tr>
        <tr>
            <th>Téléphone : </th>
            <td>{{ form_errors(form.user.phone) }}{{ form_widget(form.user.phone)}}</td>
            <th>Fax : </th>
            <td>{{ form_errors(form.user.fax) }}{{ form_widget(form.user.fax)}}</td>
        <tr>
            <th>Portable : </th>
            <td>{{ form_errors(form.user.cell) }}{{ form_widget(form.user.cell)}}</td>
            <th>Email : </th>
            <td>{{ form_errors(form.user.email) }}{{ form_widget(form.user.email)}}</td>
        </tr>
        <tr>
            <th colspan='4'>Adresse de livraison (si différente de l'adresse de facturation)</th>
        </tr>
        <tr>
            <th>Raison sociale : </th>
            <td>{{ form_errors(form.deliveryaddress.name) }}{{ form_widget(form.deliveryaddress.name)}}</td>
        </tr>
        <tr>
            <th>NOM Prénom : </th>
            <td colspan='3'>{{ form_errors(form.deliveryaddress.name) }}{{ form_widget(form.deliveryaddress.name)}}</td>
        </tr>
        <tr>
            <th>Adresse : </th>
            <td colspan='3'>{{ form_errors(form.deliveryaddress.adress1) }}{{ form_widget(form.deliveryaddress.adress1)}}</td>
        </tr>
        <tr>    
            <th>Adresse(suite) : </th>
            <td colspan='3'>{{ form_errors(form.deliveryaddress.adress2) }}{{ form_widget(form.deliveryaddress.adress2)}}</td>
        </tr>
        <tr>
            <th>Ville : </th>
            <td>{{ form_errors(form.deliveryaddress.city) }}{{ form_widget(form.deliveryaddress.city)}}</td>
            <th>Code Postal : </th>
            <td>{{ form_errors(form.deliveryaddress.postal_box) }}{{ form_widget(form.deliveryaddress.postal_box)}}</td>
        </tr>
        <tr>
            <th>Téléphone : </th>
            <td>{{ form_errors(form.deliveryaddress.phone) }}{{ form_widget(form.deliveryaddress.phone)}}</td>
            <th>Fax : </th>
            <td>{{ form_errors(form.deliveryaddress.fax) }}{{ form_widget(form.deliveryaddress.fax)}}</td>
        </tr>
        <tr>
            <th>Portable : </th>
            <td>{{ form_errors(form.deliveryaddress.cell) }}{{ form_widget(form.deliveryaddress.cell)}}</td>
            <th>Email : </th>
            <td>{{ form_errors(form.deliveryaddress.email) }}{{ form_widget(form.deliveryaddress.email)}}</td>
        </tr>
    </table>
    <table id='table_temps' class='table'>
        <tr>
            <th>N° de série de la machine</th>
            <td colspan="2"><input type="text" id="machine"</td>
        </tr>
        <tr>
            <th>Code</th>
            <th>Quantité</th>
            <th>Désignation</th>
        </tr>
        <tr>
            <td>{{ form_errors(form.item.code) }}{{ form_widget(form.item.code )}}</td>
            <td>{{ form_errors(form.amount) }}{{ form_widget(form.amount )}}</td>
            <td>{{ form_errors(form.item.designation1) }}{{ form_widget(form.item.designation1 )}}</td>
        </tr>
    </table>
    <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Créer'|trans }}</button>
  </form>#}

{{ form(form) }}

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le site jquery.com,
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
$(document).ready(function() 
{
  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
  var $container = $('div#coyote_sitebundle_formordertype_item');

  // On ajoute un lien pour ajouter une nouvelle catégorie
  var $lienAjout = $('<a href="#" id="ajout_item" class="btn">Ajouter un article</a>');
  $container.append($lienAjout);

  // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
  $lienAjout.click(function(e) 
  {
    ajouterCategorie($container);
    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
    return false;
  });

  // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;

  // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
  if (index == 0) 
  {
    ajouterCategorie($container);
  } 
  else 
  {
    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
    $container.children('div').each(function() 
    {
      ajouterLienSuppression($(this));
    });
  }

  // La fonction qui ajoute un formulaire Categorie
  function ajouterCategorie($container) 
  {
    // Dans le contenu de l'attribut « data-prototype », on remplace :
    // - le texte "__name__label__" qu'il contient par le label du champ
    // - le texte "__name__" qu'il contient par le numéro du champ
    var $prototype = $(#container).attr('data-prototype').replace(/__name__label__/g, 'Item n°' + (index+1))
                                                        .replace(/__name__/g, index));

    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
    ajouterLienSuppression($prototype);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  // La fonction qui ajoute un lien de suppression d'une catégorie
  function ajouterLienSuppression($prototype) {
    // Création du lien
    $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');

    // Ajout du lien
    $prototype.append($lienSuppression);

    // Ajout du listener sur le clic du lien
    $lienSuppression.click(function(e) 
    {
      $prototype.remove();
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
  }
});
</script>
{% endblock %}
{#{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FormOrder creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formorder') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}#}
