<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('accueil') }}">{{'Accueil'|trans}}</a></li>
		<li id="frais" class="dropdown">
          <a href=# class="dropdown-toggle" data-toggle="dropdown">{{'Export Présence'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_export_index')}}">{{'Export données BE'|trans}}</a></li>
          </ul>
        </li>
        <li id="frais" class="dropdown">
          <a href=# class="dropdown-toggle" data-toggle="dropdown">{{'Note de Frais'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_export') }}">{{'Export données note de frais'|trans}}</a></li>
          </ul>
        </li>
        <li id="profil" class="dropdown">
          <a href="{{ path('coyote_profile') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Profil'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_profile') }}">{{'Information Profil'|trans}}</a></li>
            <li><a href="{{ path('coyote_changepassword') }}">{{'Changement de mot de passe'|trans}}</a></li>
          </ul>
        </li>
	</ul>
  </div>
</nav>