{% extends "CoyoteSiteBundle:Base:layout.html.twig" %}

{% block link %}

    {{ include('CoyoteSiteBundle:Base:navigation_login.html.twig') }}

{% endblock %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="table-responsive">
    <table class="table" style="max-width:500px; margin:auto">
        <tr>
            <th><label for="username">{{ 'security.username'|trans }} :</label></th>
            <td><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></td>
        </tr>
        <tr>
            <th><label for="password">{{ 'security.password'|trans }} :</label></th>
            <td><input type="password" id="password" name="_password" required="required" /></td>
        </tr>
    </table>
    </div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.remember_me'|trans }}</label><br>

    <button class="btn btn-danger btn-default" type="submit" id="_submit" name="_submit">{{ 'security.submit.connexion'|trans }}</button>
</form>
<a class="btn btn-primary btn-default" href="{{ path('resetting_request') }}">{{"security.submit.resetting"|trans}} ?</a>

{% endblock fos_user_content %}
