<page>
<div id="lien">
    <img src="./bundles/coyotefront/images/Logo_Pichon.jpg" alt="PICHON" id="logo"/>
</div>
<p style="text-align:center">{{'expense.title.print'|trans}}</p>

{% if data %}
    <table class='table' id='tab_expense' style="width:900px;">
    	<tr style="width:900px;">
    		<th style="width: 60px; text-align:center">{{'expense.date'|trans}}</th>
    		<th style="width: 160px; text-align:center">{{'expense.item'|trans}}</th>
    		<th style="width: 50px; text-align:center">{{'expense.currency'|trans}}</th>
    		<th style="width: 50px; text-align:center">{{'expense.amount'|trans}}</th>
    		<th style="width: 60px; text-align:center">{{'expense.amountttc'|trans}}</th>
    		<th style="width: 60px; text-align:center">{{'expense.amounttva'|trans}}</th>
    		<th style="width: 60px; text-align:center">{{'expense.business'|trans}}</th>
    		<th style="width: 20%; text-align:center" id='tab_time_comment'>{{'expense.comment'|trans}}</th>
    	</tr>
        {% for entity in data %}
            <tr>
                <th style="width: 60px; text-align:center">{{ entity.date|date("d/m/Y") }}</th>
                <th style="width: 160px; text-align:center">{{ entity.fee }}</th>
                <th style="width: 50px; text-align:center">{{ entity.currency }}</th>
                <th style="width: 50px; text-align:center">{{ entity.amount }}</th>
                <th style="width: 60px; text-align:center">{{ entity.amountttc }}</th>
                <th style="width: 60px; text-align:center">{{ entity.amounttva }}</th>
                <th style="width: 60px; text-align:center">{{ entity.business }}</th>
                <th style="width: 20%; text-align:center" id='tab_time_comment'>{{ entity.comment }}</th>
            </tr>
        {% endfor %}
    </table>
{% else %}
<p style="text-align:center">{{'expense.message'|trans}}</p>
{% endif %}
</page>