{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block nav %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block content -%}
    <p>{{ 'absence.edit' | trans }}</p>


    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        <div>
            {{ form_label(edit_form.travel, 'absence.travel'|trans) }}
            {{ form_errors(edit_form.travel) }}
            {{ form_widget(edit_form.travel) }}
        </div>

        <div>
            {{ form_label(edit_form.absence_name, 'absence.absence_name'|trans) }}
            {{ form_errors(edit_form.absence_name) }}
            {{ form_widget(edit_form.absence_name) }}
        </div>

        <div>
            {{ form_label(edit_form.absence_duration, 'absence.absence_duration'|trans) }}
            {{ form_errors(edit_form.absence_duration) }}
            {{ form_widget(edit_form.absence_duration) }}
        </div>

        <div>
            {{ form_label(edit_form.comment, 'absence.comment'|trans) }}
            {{ form_errors(edit_form.comment) }}
            {{ form_widget(edit_form.comment) }}
        </div>

        <div>
            {{ form_label(edit_form.timetable, 'absence.timetable'|trans) }}
            {{ form_errors(edit_form.timetable) }}
            {{ form_widget(edit_form.timetable) }}
        </div>

        <input type="submit" value={{'absence.update'|trans}} />

    {{ form_end(edit_form) }}


{% endblock %}
