{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block userinfo %}
    {{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle:Base:css.html.twig') }}
{% endblock %}

{% block link %}
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">{{ 'Bienvenue sur le site PICHON'|trans }}
            {% if app.request.locale == "fr" %}
            <br><br>
            "{{quote.0.citation}}"<br>
            {{quote.0.author}}
            {% endif %}
        </p>
    </div>
{% endblock %}