{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block userinfo %}
    {{ 'userinfo.welcome'|trans }} {{ app.session.get('username') }} |
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a>
{% endblock %}


{% block nav %}
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->
{% endblock nav %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">{{'accueil.menu.message'|trans }}<br>
        {% if quote %}
            {% if app.request.locale == "fr" %}
                <br><br>
                "{{quote.0.citation}}"<br>
                {{quote.0.author}}
            {% endif %}
        {% endif %}
        </p>
    </div>
{% endblock %}