{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block javascripts %}
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
{% endblock %}

{% block content %}

<form role="form" action="{{ path('coyote_time_savetime') }}" method='post'>
<article>
    <p>En cours de développement...</p>
    <div id="contenu">
    <p>Voici la semaine {{ app.session.get('no_week') }} d'affichée de l'année {{ app.session.get('year') }}</p>
    <div class='table-responsive'>
    	<table id='table_temps' class='table'>
    		<h2>Temps de travail</h2>
    		<thead>
    			<tr>
    				<td>Jour de la semaine</td>
    				<td>Début</td>
    				<td>Fin</td>
    				<td>Pause</td>
    				<td>Temps de travail</td>
    				<td>Journée travaillée</td>
    				<td>Déplacement</td>
    				<td>Absence</td>
    				<td>Commentaire</td>
    				
    			</tr>
    		</thead>
    		<tbody> <!-- Corps du tableau -->
    			<tr>
    				<td id="{{ id[0]['id'] }}" data-value={{ id[0]['id'] }} data-id={{ timetable.0.id }} class='jour'>Lundi :
    				    <input class='input' type='text' disabled name='datelundi' id='datelundi' data-value={{ date[0]['date'] }} value={{ date[0]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='9:00' maxlength='5' name='debutlundi' id='debutlundi' data-value={{ datalundi.start }} value={{ datalundi.start }} />
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='17:00' maxlength='5' name='finlundi' id='finlundi' data-value={{ datalundi.end }} value={{ datalundi.end }} />
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='1:00' maxlength='5' name='pauselundi' id='pauselundi' data-value={{ datalundi.break }} value={{ datalundi.break }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' maxlength='5' name='tpslundi' id='tpslundi' data-value={{ datalundi.workingtime }} value={{ datalundi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourlundi' id='jourlundi' data-value={{ datalundi.workinghours }} value={{ datalundi.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementlundi' id='deplacementlundi' data-value={{ datalundi.travel }} >
    					    <option value='Non'>Non</option>
                            <option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencelundi' id='absencelundi' data-value={{ datalundi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder='Saisir un commentaire' data-value={{ datalundi.comment }} value={{ datalundi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[1]['id'] }}" data-value={{ id[1]['id'] }} data-id={{ timetable.1.id }} class='jour'>Mardi : 
    				    <input class='input' type='text' disabled name='datemardi' id='datemardi' data-value={{ date[1]['date'] }} value={{ date[1]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='debutmardi' id='debutmardi' data-value={{ datamardi.start }} value={{ datamardi.start }} />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='finmardi' id='finmardi' data-value={{ datamardi.end }} value={{ datamardi.end }} />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='pausemardi' id='pausemardi' data-value={{ datamardi.break }} value={{ datamardi.break }} />
    				</td>
    				<td>
    				    <input class='input' disabled maxlength='5' type='text' name='tpsmardi' id='tpsmardi' data-value={{ datamardi.workingtime }} value={{ datamardi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourmardi' id='jourmardi' data-value={{ datamardi.workinghours }} value={{ datamardi.workinghours }} />
    				</td>
    				<td class='deplacement' data-value={{ datamardi.travel }} >
    					<select name='deplacementmardi' id='deplacementmardi'>
        					<option value='Non'>Non</option>
        					<option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencemardi' id='absencemardi' data-value={{ datamardi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder='Saisir un commentaire' data-value={{ datamardi.comment }} value={{ datamardi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[2]['id'] }}" data-value={{ id[2]['id'] }} data-id={{ timetable.2.id }} class='jour'>Mercredi : 
    				    <input class='input' type='text' disabled name='datemercredi' id='datemercredi' data-value={{ date[2]['date'] }} value={{ date[2]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutmercredi' id='debutmercredi' data-value={{ datamercredi.start }} value={{ datamercredi.start }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finmercredi' id='finmercredi' data-value={{ datamercredi.end }} value={{ datamercredi.end }} />
                    </td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausemercredi' id='pausemercredi' data-value={{ datamercredi.break }} value={{ datamercredi.break }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsmercredi' id='tpsmercredi' data-value={{ datamercredi.workingtime }} value={{ datamercredi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourmercredi' id='jourmercredi' data-value={{ datamercredi.workinghours }} value={{ datamercredi.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementmercredi' id='deplacementmercredi' data-value={{ datamercredi.travel }} >
        					<option value='Non'>Non</option>
        					<option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencemercredi' id='absencemercredi' data-value={{ datamercredi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder='Saisir un commentaire' data-value={{ datamercredi.comment }} value={{ datamercredi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[3]['id'] }}" data-value={{ id[3]['id'] }} data-id={{ timetable.3.id }} class='jour'>Jeudi : 
    				    <input class='input' type='text' disabled name='datejeudi' id='datejeudi' data-value={{ date[3]['date'] }} value={{ date[3]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutjeudi' id='debutjeudi' data-value={{ datajeudi.start }} value={{ datajeudi.start }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finjeudi' id='finjeudi' data-value={{ datajeudi.end }} value={{ datajeudi.end }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausejeudi' id='pausejeudi' data-value={{ datajeudi.break }} value={{ datajeudi.break }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsjeudi' id='tpsjeudi' data-value={{ datajeudi.workingtime }} value={{ datajeudi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourjeudi' id='jourjeudi' data-value={{ datajeudi.workinghours }} value={{ datajeudi.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementjeudi' id='deplacementjeudi' data-value={{ datajeudi.travel }} >
        					<option value='Non'>Non</option>
        					<option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencejeudi' id='absencejeudi' data-value={{ datajeudi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder='Saisir un commentaire' data-value={{ datajeudi.comment }} value={{ datajeudi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[4]['id'] }}" data-value={{ id[4]['id'] }} data-id={{ timetable.4.id }} class='jour'>Vendredi : 
    				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' data-value={{ date[4]['date'] }} value={{ date[4]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutvendredi' id='debutvendredi' data-value={{ datavendredi.start }} value={{ datavendredi.start }} >
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finvendredi' id='finvendredi' data-value={{ datavendredi.end }} value={{ datavendredi.end }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausevendredi' id='pausevendredi' data-value={{ datavendredi.break }} value={{ datavendredi.break }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsvendredi' id='tpsvendredi' data-value={{ datavendredi.workingtime }} value={{ datavendredi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourvendredi' id='jourvendredi' data-value={{ datavendredi.workinghours }} value={{ datavendredi.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementvendredi' id='deplacementvendredi' data-value={{ datavendredi.travel }} >
    					    <option value='Non'>Non</option>
                            <option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencevendredi' id='absencevendredi' data-value={{ datavendredi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder='Saisir un commentaire' data-value={{ datavendredi.comment }} value={{ datavendredi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[5]['id'] }}" data-value={{ id[5]['id'] }} data-id={{ timetable.5.id }} class='jour'>Samedi : 
    				    <input class='input' type='text' disabled name='datesamedi' id='datesamedi' data-value={{ date[5]['date'] }} value= {{ date[5]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutsamedi' id='debutsamedi' data-value={{ datasamedi.start }} value={{ datasamedi.start }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finsamedi' id='finsamedi' data-value={{ datasamedi.end }} value={{ datasamedi.end }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausesamedi' id='pausesamedi' data-value={{ datasamedi.break }} value={{ datasamedi.break }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpssamedi' id='tpssamedi' data-value={{ datasamedi.workingtime }} value={{ datasamedi.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='joursamedi' id='joursamedi' data-value={{ datasamedi.workinghours }} value={{ datasamedi.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementsamedi' id='deplacementsamedi' data-value={{ datasamedi.travel }} >
        					<option value='Non'>Non</option>
        					<option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencesamedi' id='absencesamedi' data-value={{ datasamedi.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder='Saisir un commentaire' data-value={{ datasamedi.comment }} value={{ datasamedi.comment }} />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ id[6]['id'] }}" data-value={{ id[6]['id'] }} data-id={{ timetable.6.id }} class='jour'>Dimanche : 
    				    <input class='input' type='text' disabled name='datedimanche' id='datedimanche' data-value={{ date[6]['date'] }} value= {{ date[6]['date'] }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutdimanche' id='debutdimanche' data-value={{ datadimanche.start }} value={{ datadimanche.start }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='findimanche' id='findimanche' data-value={{ datadimanche.end }} value={{ datadimanche.end }} >
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausedimanche' id='pausedimanche' data-value={{ datadimanche.break }} value={{ datadimanche.break }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsdimanche' id='tpsdimanche' data-value={{ datadimanche.workingtime }} value={{ datadimanche.workingtime }} />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourdimanche' id='jourdimanche' data-value={{ datadimanche.workinghours }} value={{ datadimanche.workinghours }} />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementdimanche' id='deplacementdimanche' data-value={{ datadimanche.travel }} >
        					<option value='Non'>Non</option>
        					<option value='Oui'>Oui</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencedimanche' id='absencedimanche' data-value={{ datadimanche.absence }} >
        					<option value='vide'></option>
        					<option value='rtt'>RTT</option>
        					<option value='cp'>Congés payés</option>
        					<option value='ca'>CA</option>
        					<option value='cef'>CEF</option>
        					<option value='css'>Congés sans solde</option>
        					<option value='mal'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder='Saisir un commentaire' data-value={{ datadimanche.comment }} value={{ datadimanche.comment }} />
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
	<div>
	    <br>
		    Saisie automatique des heures (Cochez les jours que vous souhaitez remplir et saisissez les valeurs dans les champs début fin pause ci-dessous)
		<br>
		<input type='checkbox' name='lundi' id='check_lundi'> Lundi 
		<input type='checkbox' name='mardi' id='check_mardi'> Mardi 
		<input type='checkbox' name='mercredi' id='check_mercredi'> Mercredi 
		<input type='checkbox' name='jeudi' id='check_jeudi'> Jeudi 
		<input type='checkbox' name='vendredi' id='check_vendredi'> Vendredi 
		<input type='checkbox' name='samedi' id='check_samedi'> Samedi 
		<input type='checkbox' name='dimanche' id='check_dimanche'> Dimanche<br>
		Debut <input class='input' type='text' id='debutauto'> 
		Fin <input class='input' type='text' id='finauto'> 
		Pause <input class='input' type='text' id='pauseauto'>
	</div><br>
    <a id='saisie_auto' class='btnauto'>Saisie Automatique</a><br><br>
	<div id='timeweek'>
		Temps travaillé de la semaine : 
		<input id='txt_timeweek' disabled='disabled' value='' /><br>
	</div>
	<div id='timemonth'>
		Temps travaillé dans le mois 
		<input id='txt_timemonth' disabled='disabled'/><br>
	</div>
	<div id='timemonth2' style='display:none;'>
		Temps travaillé dans le mois 
		<input id='txt_timemonth2' disabled='disabled'/><br>
	</div><br>
    <a id='work_less' class='btnpage' href="{{ path('coyote_time_workless')}}" >Semaine Précédente</a>
    <a id='work_more' class='btnpage' href="{{ path('coyote_time_workmore')}}" >Semaine Suivante</a><br><br>
    <a href="{{ path('coyote_time_savetime')}}" id='Enregistrer' class='bntsave'>Enregistrer</a>
    
            <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
</article>

</form>


{% endblock %}

$timetable_id = $em->getRepository('CoyoteSiteBundle:Timetable')->myFindTimetableId(14, 2014, 1);
            $date = $em->getRepository('CoyoteSiteBundle:Timetable')->myFindDate(14, 2014);
            $id = $em->getRepository('CoyoteSiteBundle:Timetable')->myFindScheduleId(14, 2014, 1);
            
            $datalundi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[0]);
            $datamardi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[1]);
            $datamercredi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[2]);
            $datajeudi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[3]);
            $datavendredi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[4]);
            $datasamedi = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[5]);
            $datadimanche = $this->getDoctrine()
                         ->getRepository('CoyoteSiteBundle:Schedule')
                         ->findOneById($timetable_id[6]);
            

            return $this->render('CoyoteSiteBundle:Time:user.html.twig', array('datalundi' => $datalundi, 'datamardi' => $datamardi, 'datamercredi' => $datamercredi, 'datajeudi' => $datajeudi, 'datavendredi' => $datavendredi, 'datasamedi' => $datasamedi, 'datadimanche' => $datadimanche, 'date' => $date, 'id' => $id, 'timetable' => $timetable_id));