{% extends "CoyoteSiteBundle::base.html.twig" %}

{% block userinfo %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle::css.html.twig') }}
{% endblock %}

{% block link %}
    
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle::navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle::navigation.html.twig') }}
	<!--<![endif]-->
	
{% endblock %}

{% block content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock content %}