{% extends "CoyoteSiteBundle:Base:base.html.twig" %}

{% block userinfo %}
    {{ 'userinfo.welcome'|trans }} {{ app.session.get('username') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle:Base:css.html.twig') }}
{% endblock %}

{% block link %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}



{% if is_granted('ROLE_ADMIN') %}
    {% block content %}
        {% for flashMessage in app.session.flashbag.get('save_registration') %}
            {% set message = flashMessage %}
            {% if message == "registration.flash.user_created" %}
                <p id="flashmessage_valid">{{ flashMessage|trans }}</p>
            {% endif %}
            {% if message == "schedule.flash.no_save" %}
                <p id="flashmessage_error">{{ flashMessage|trans }}</p>
            {% endif %}
        {% endfor %}

        <p class="lead">{{ "registration.title"|trans }}</p>
        {% include "CoyoteSiteBundle:Registration:register_content.html.twig" %}
    {% endblock content %}
{% endif %}