{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block nav %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/style_holiday.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}

<p id="title">{{'holiday.title.show'|trans}} </p>

{% if holiday %}
<form role="form" action="{{ path('holiday') }}" method='post'>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    		<th>{{ 'holiday.ca'|trans }}</th>
    		<th>{{ 'holiday.cp'|trans }}</th>
    		<th>{{ 'holiday.rtt'|trans }}</th>
    		<th>{{ 'holiday.hs'|trans }}</th>
    		<th>{{ 'holiday.edit' | trans }}</th>
    	</tr>
    	<tr>
    	    <td>{{ holiday.ca }}</td>
		    <td>{{ holiday.cp }}</td>
		    <td>{{ holiday.rtt }}</td>
		    <td>{{ holiday.hs }}</td>
            <td>
    		    <a href="{{ path('holiday_edit') }}">{{ 'holiday.edit' | trans }}</a>
            </td>
    	</tr>
    </table>
</div><br>
{% else %}
<form role="form" action="{{ path('holiday_create') }}" method='post'>
<div class='table-responsive'>
    <p class="center">{{ 'holiday.empty' | trans }}</p>
</div>
<div id="btn_new">
    <p><a class="btn btn-primary" href="{{ path('holiday_new') }}">{{ 'holiday.create' | trans }}</a></p>
</div>
{% endif %}
{% endblock %}