{% extends 'CoyoteSiteBundle::base.html.twig' %}

{% block userinfo %}

<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}
    
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle::navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle::navigation.html.twig') }}
	<!--<![endif]-->
	
{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle::css.html.twig') }}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        
        <p class="lead">{{ 'Bienvenue sur le site Pichon'|trans }}
            <br><br>
            Partie Administration
            <br>
        </p>

    </div>

{% endblock %}