{% extends 'CoyoteSiteBundle:Admin:index.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('admin_updaterole') %}
        {% set message = flashMessage %}
        {% if message == "admin.updaterole.flash.add" %}
            <p id="flashmessage_valid">{{ flashMessage|trans }}</p>
        {% elseif message == "admin.updaterole.flash.remove" %}
            <p id="flashmessage_valid">{{ flashMessage|trans }}</p>
        {% endif %}
    {% endfor %}

    <form role="form" action="{{ path('admin_choicesroles') }}" method='post'>
    	<p id="title">{{ 'base.nav.profile_admin.indexchoicesuser'|trans }}</p>
	        <table class='table' id='tab_expense'>
        	<tr>
        	    <th class="center">{{'admin.title.indexchoicesuser'|trans}}</th>
        	    <td class="center">
                    <select name='user' id='user' >
                    {% for user in users %}
                        <option value={{user.id}}>{{user.name}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <div id="btn_display">
            <button class='btn btn-primary' type="submit" value="Telecharger" id="telecharger">{{'admin.submit.display'|trans}}</button>
        </div>
    </form>
{% endblock %}