{% extends 'CoyoteFrontBundle:Base:index.html.twig' %}

{% block nav %}
    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/coyotefront/css/jquery-ui.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotefront/css/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotefront/js/jquery-1.10.2.js') }}"/></script>
    <script src="{{ asset('bundles/coyotefront/js/jquery-ui.js') }}"/></script>
{% endblock %}

{% block content %}

<h3>{{'directory.title.edit'|trans}}</h3>
<form action="{{ path('directory_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    <div class='table-responsive'>
        <table class='table'>
        	<tr>
        		<th>{{ form_label(edit_form.firstname, 'directory.firstname'|trans) }}</th>
        		<td>{{ form_widget(edit_form.firstname) }}</td>
        	</tr>
            <tr>
        		<th>{{ form_label(edit_form.name, 'directory.name'|trans) }}</th>
        		<td>{{ form_widget(edit_form.name) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.job_phone_number, 'directory.jobphonenumber'|trans) }}</th>
        		<td>{{ form_widget(edit_form.job_phone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.quick_phone_number, 'directory.quickphonenumber'|trans) }}</th>
        		<td>{{ form_widget(edit_form.quick_phone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.cellphone_number, 'directory.cellphonenumber'|trans) }}</th>
        		<td>{{ form_widget(edit_form.cellphone_number) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.phone, 'directory.phone') }}</th>
        	    <td>{{ form_widget(edit_form.phone) }}</td>
            </tr>
             <tr>
        		<th>{{ form_label(edit_form.fax, 'directory.fax') }}*</th>
        	    <td>{{ form_widget(edit_form.fax) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.function_service, 'directory.functionservice'|trans) }}</th>
        		<td>{{ form_widget(edit_form.function_service) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(edit_form.leader, 'directory.leader'|trans) }}</th>
        		<td>{{ form_widget(edit_form.leader) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.mail, 'directory.mail'|trans) }}</th>
        		<td>{{ form_widget(edit_form.mail) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.country, 'directory.country'|trans) }}</th>
        	    <td>{{ form_widget(edit_form.country) }}</td>
            </tr>
            <tr>
        		<th>{{ form_label(edit_form.business, 'directory.business'|trans) }}</th>
        	    <td>{{ form_widget(edit_form.business) }}</td>
            </tr>
        </table>
    </div>
    {{ form_widget(edit_form._token) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'directory.submit.update'|trans }}</button>
    </p>
</form>
<form action="{{ path('directory_enabled', { 'id': entity.id }) }}" method="post" >
	<button type="submit" class="btn btn-danger">{{ 'directory.submit.enabled'|trans }}</button>
</form>
<a class='btn btn-info' href="{{ path('directory') }}">
    {{ 'directory.back'|trans }}
</a>

{% endblock %}
