{% extends 'CoyoteFrontBundle:Base:index.html.twig' %}

{% block nav %}
    {{ include('CoyoteFrontBundle:Base:navigation.html.twig') }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/coyotefront/css/jquery-ui.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotefront/css/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotefront/js/jquery-1.10.2.js') }}"/></script>
    <script src="{{ asset('bundles/coyotefront/js/jquery-ui.js') }}"/></script>
{% endblock %}

{% block content %}

    <p id="title">{{'directory.title.index'|trans}} </p>
    <a class="btn btn-primary" href="{{ path('directory_new') }}">{{'directory.add_user'|trans}}</a>
    <table class="table table-striped table-hover ">
    <tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfirstname', { 'country': 'FRANCE', 'business': 'Pichon' }) }}">{{'directory.title.directory_user_french'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfunctionservice', { 'country': 'FRANCE', 'business': 'Pichon' }) }}">{{'directory.title.directory_services_french'|trans}}</a>
        </th>
    </tr>
    <tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfirstname', { 'country': 'FRANCE', 'business': 'Gilibert' }) }}">{{'directory.title.directory_user_gilibert'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfunctionservice', { 'country': 'FRANCE', 'business': 'Gilibert' }) }}">{{'directory.title.directory_services_gilibert'|trans}}</a>
        </th>
    </tr>
    {#<tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfirstname', { 'country': 'POLOGNE', 'Pichon' }) }}">{{'directory.title.directory_user_poland'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_showdirectorybyfunctionservice', { 'country': 'POLOGNE', 'Pichon' }) }}">{{'directory.title.directory_services_poland'|trans}}</a>
        </th>
    </tr>#}
    <tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfirstname', { 'country': 'FRANCE', 'business': 'Pichon' }) }}">{{'directory.title.directorypdf_user_french'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfunctionservice', { 'country': 'FRANCE', 'business': 'Pichon' }) }}">{{'directory.title.directorypdf_services_french'|trans}}</a>
        </th>
    </tr>
    <tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfirstname', { 'country': 'FRANCE', 'business': 'Gilibert' }) }}">{{'directory.title.directorypdf_user_gilibert'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfunctionservice', { 'country': 'FRANCE', 'business': 'Gilibert' }) }}">{{'directory.title.directorypdf_services_gilibert'|trans}}</a>
        </th>
    </tr>
    {#<tr>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfirstname', { 'country': 'POLOGNE', 'Pichon' }) }}">{{'directory.title.directorypdf_user_poland'|trans}}</a>
        </th>
        <th>
            <a class="btn btn-primary" href="{{ path('directory_pdfdirectorybyfunctionservice', { 'country': 'POLOGNE', 'Pichon' }) }}">{{'directory.title.directorypdf_services_poland'|trans}}</a>
        </th>
    </tr>#}
    </table>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>{{'directory.firstname'|trans}}</th>
                <th>{{'directory.name'|trans}}</th>
                <th>{{'directory.jobphonenumber'|trans}}</th>
                <th>{{'directory.quickphonenumber'|trans}}</th>
                <th>{{'directory.cellphonenumber'|trans}}</th>
                <th>{{'directory.functionservice'|trans}}</th>
                <th>{{'directory.mail'|trans}}</th>
                <th>{{'directory.country'|trans}}</th>
                <th>{{'directory.business'|trans}}</th>
                <th>{{'directory.actions.title'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.name }}</td>
                    {% if entity.jobphonenumber != 0 %}
                    <td>{{ entity.jobphonenumber }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{ entity.quickphonenumber }}</td>
                    <td>{{ entity.cellphonenumber }}</td>
                    <td>{{ entity.functionservice }}</td>
                    <td>{{ entity.mail }}</td>
                    <td>{{ entity.country }}</td>
                    <td>{{ entity.business }}</td>
                    <td>
                        <a href="{{ path('directory_edit', { 'id': entity.id }) }}">{{'directory.actions.edit'|trans}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
