{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_expense_change.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/jquery-1.10.2.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/jquery-ui.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_expense.js') }}"/></script>
{% endblock %}

{% block link %}
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/styles.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/jquery-ui.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/justified-nav.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/signin.css') }}" type="text/css" media="all" />
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/coyotesite/js/html5shiv.min.js') }}"></script>
      <script src="{{ asset('bundles/coyotesite/js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}


{% block content %}

{% for flashMessage in app.session.flashbag.get('saveexpense') %}

    <p id="flashmessage">{{ flashMessage }}</p>

{% endfor %}

<p id="titreconfig">{{'expense.title.create'|trans}} </p>

<form role="form" action="{{ path('expense_save') }}" method='post'>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    		<th id='tab_expense_site'>{{ 'expense.site'|trans }}</th>
    		<th id='tab_expense_date'>{{ 'expense.date'|trans }}</th>
    		<th id='tab_expense_item'>{{ 'expense.item'|trans }}</th>
    		<th id='tab_expense_devise'>{{ 'expense.currency'|trans }}</th>
    		<th id='tab_expense_qte'>{{ 'expense.quantity'|trans }}</th>
    		<th id='tab_expense_amountttc'>{{ 'expense.amountttc'|trans }}</th>
    		<th id='tab_expense_amounttva'>{{ 'expense.amounttva'|trans }}</th>
    		<th id='tab_expense_business'>{{ 'expense.business'|trans }}</th>
    		<th id='tab_expense_comment'>{{ 'expense.comment'|trans }}</th>
    	</tr>
    	{% for i in 0..5 %}
    	<tr>
    		<th id='tab_expense_site'>
    			<select name='site{{i}}' id='site{{i}}'>
                    <option value='9'>USI</option>
    			</select>
    		</th>
    		<th id='tab_expense_date'>
    		<input type='text' name='date{{i}}' id='date{{i}}' maxlength="6" >
    		<th id='tab_expense_item'>
    		    <select name='article{{i}}' id='article{{i}}' class='itemfrais'>
    		        <option></option>
    				{% for datafee in fee %}
    				    <option id={{ datafee.id }} data-value={{ datafee.rate }} value={{ datafee.id }}>
    				    {{ datafee.code }} : {{ datafee.name | trans }}</option>
    				{% endfor %}
    			</select>
            </th>
    		<th id='tab_expense_devise'>
    			<select name='devise{{i}}' id='devise{{i}}'>
    			    {% if app.session.get('lang') == "en" %}
        			    {% for datacurrency in currency %}
        			        {% if datacurrency == "GBP" %}
        			            <option value={{ datacurrency.id }} selected>{{ datacurrency }}</option>
        			        {% else %}
                                <option value={{ datacurrency.id }} >{{ datacurrency }}</option>
        			        {% endif %}
    			        {% endfor %}
    			    {% elseif app.session.get('lang') == "pl" %}
        			    {% for datacurrency in currency %}
        			        {% if datacurrency == "PLN" %}
        			            <option value={{ datacurrency.id }} selected>{{ datacurrency }}</option>
        			        {% else %}
                                <option value={{ datacurrency.id }} >{{ datacurrency }}</option>
        			        {% endif %}
    			        {% endfor %}
    			    {% else %}
        			    {% for datacurrency in currency %}
        			        {% if datacurrency == "EUR" %}
        			            <option value={{ datacurrency.id }} selected>{{ datacurrency }}</option>
        			        {% else %}
                                <option value={{ datacurrency.id }} >{{ datacurrency }}</option>
        			        {% endif %}
    			        {% endfor %}
    			    {% endif %}
    			</select>
    		</th>
    		<th id='tab_expense_qte'><input type='text' name='qte{{i}}' id='qte{{i}}' ></th>
    		<th id='tab_expense_amountttc'><input type='text' name='ttc{{i}}' id='ttc{{i}}' ></th>
    		<th id='tab_expense_amounttva'><input type='text' name='tva{{i}}' id='tva{{i}}' readonly></th>
    		<th id='tab_expense_business'>
    			<select name='affaire{{i}}' id='affaire{{i}}'>
    			    {% for databusiness in business %}
    			        <option value={{ databusiness.id }}>{{ databusiness }}</option>
    			    {% endfor %}
    			</select>
    		</th>
    		<th id='tab_expense_comment'><input type='text' name='com{{i}}' id='com{{i}}' ></th>
    	</tr>
    	{% endfor %}
    </table>
</div><br>


<button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'expense.submit.save'|trans }}</button>
</form>

{% endblock %}