{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block link %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle:Base:css.html.twig') }}
{% endblock %}

{% block content %}
<p id="titreconfig">{{'expense.title.indexshow'|trans}} </p>

<form role="form" action="{{ path('expense_show') }}" method='get'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'expense.month'|trans}}</th>
    		<th>{{'expense.year'|trans}}</th>
    	</tr>
        <tr>
            <td>
                {% set counter = 0 %}
                <select name='month' id='month' >
                {% for mois in tab_num_mois %}
                    {% if mois == month %}
                    <option value={{mois}} selected>{{tab_mois[counter]|trans}}</option>
                    {% else %}
                    <option value={{mois}}>{{tab_mois[counter]|trans}}</option>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
                </select>
            </td>
            <td>
                {% set counter = 0 %}
                <select name='year' id='year' >
                {% for annee in tab_annee %}
                    {% if annee == year %}
                    <option value={{tab_num_annee[counter]}} selected>{{annee|trans}}</option>
                    {% else %}
                    <option value={{tab_num_annee[counter]}}>{{annee|trans}}</option>
                    {% endif %}
                    {% set counter = counter + 1 %}
                {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <button class='btnsave' type="submit" value="Afficher" id="afficher">{{ 'expense.submit.show'|trans }}</button>
</form>
{% endblock %}