{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block link %}
    
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle::navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle::navigation.html.twig') }}
	<!--<![endif]-->
	
{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle::css.html.twig') }}
{% endblock %}

{% block content %}
<p id="titreconfig">{{'Consultation des notes de frais'|trans}} </p>

<form role="form" action="{{ path('coyote_expense_show') }}" method='get'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'Mois'|trans}}</th>
    		<th>{{'Année'|trans}}</th>
    	</tr>
        <tr>
            <td>
                <select name='month' id='month' >
					<option value='vide'></option>
					<option value='01'>{{'Janvier'|trans}}</option>
					<option value='02'>{{'Février'|trans}}</option>
					<option value='03'>{{'Mars'|trans}}</option>
					<option value='04'>{{'Avril'|trans}}</option>
					<option value='05'>{{'Mai'|trans}}</option>
					<option value='06'>{{'Juin'|trans}}</option>
					<option value='07' selected>{{'Juillet'|trans}}</option>
					<option value='08'>{{'Août'|trans}}</option>
					<option value='09'>{{'Septembre'|trans}}</option>
					<option value='10'>{{'Octobre'|trans}}</option>
					<option value='11'>{{'Novembre'|trans}}</option>
					<option value='12'>{{'Décembre'|trans}}</option>
				</select>
            </td>
            <td>
                <select name='year' id='year' >
					<option value='14'>2014</option>
					<option value='15'>2015</option>
					<option value='16'>2016</option>
				</select>
            </td>
        </tr>
    </table>
    <button class='btnsave' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}