<html>
<head>
    <title>Impression Notes de frais</title>
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/justified-nav.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/signin.css') }}" type="text/css" media="all" />
</head>
<body>
    <div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>Id</th>
    		<th id='tab_expense_site'>Site</th>
    		<th id='tab_expense_date'>Date</th>
    		<th id='tab_expense_item'>Article</th>
    		<th id='tab_expense_devise'>Devise</th>
    		<th id='tab_expense_qte'>Quantité</th>
    		<th id='tab_expense_amount'>Montant réel</th>
    		<th id='tab_expense_amounttc'>Montant TTC</th>
    		<th id='tab_expense_amounttva'>Montant TVA</th>
    		<th id='tab_expense_business'>Affaire</th>
    		<th id='tab_expense_comment'>Commentaire</th>
    	</tr>
    	{% for entity in data %}
            <tr>
                <th>{{ entity.id }}</a></th>
                <th>{{ entity.site }}</th>
                <th>{{ entity.date }}</th>
                <th>{{ entity.fee }}</th>
                <th>{{ entity.currency }}</th>
                <th>{{ entity.amount }}</th>
                <th>{{ entity.actualamount }}</th>
                <th>{{ entity.amountttc }}</th>
                <th>{{ entity.amounttva }}</th>
                <th id='tab_expense_business'>{{ entity.business }}</th>
                <th id='tab_expense_comment'>{{ entity.comment }}</th>
            </tr>
        {% endfor %}
    </table>
</div><br>
</body>
</html>