{% extends 'CoyoteSiteBundle:Expense:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('save_expense') %}

    <p id="flashmessage">{{ flashMessage|trans }}</p>

{% endfor %}
<p id="titreconfig">{{'expense.title.show'|trans}}</p>

{% if data|length > 0 %}
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>Id</th>
    		<th id='tab_expense_site'>{{ 'expense.site'|trans}}</th>
    		<th id='tab_expense_date'>{{ 'expense.date'|trans}}</th>
    		<th id='tab_expense_item'>{{ 'expense.item'|trans}}</th>
    		<th id='tab_expense_devise'>{{ 'expense.currency'|trans}}</th>
    		<th id='tab_expense_qte'>{{ 'expense.amount'|trans}}</th>
    		<th id='tab_expense_amounttc'>{{ 'expense.amountttc'|trans}}</th>
    		<th id='tab_expense_amounttva'>{{ 'expense.amounttva'|trans}}</th>
    		<th id='tab_expense_business'>{{ 'expense.business'|trans}}</th>
    		<th id='tab_expense_comment'>{{ 'expense.comment'|trans}}</th>
    		<th>{{'expense.treated'|trans}}</th>
    		<th>{{ 'expense.submit.edit'|trans}}</th>
    	</tr>
    	{% for entity in data %}
            <tr>
                <td>{#<a href="{{ path('expense_show', { 'id': entity.id }) }}">#}{{ entity.id }}</a></td>
                <td>{{ entity.site.code }}</td>
                <td>{{ entity.date|date("d/m/y") }}</td>
                <td>{{ entity.fee.code }}</td>
                <td>{{ entity.currency.code }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.amountttc }}</td>
                <td>{{ entity.amounttva }}</td>
                <td id='tab_expense_business'>{{ entity.business.name }}</td>
                <td id='tab_expense_comment'>{{ entity.comment }}</td>
                {% if entity.status == 1 %}
                    <td>{{'expense.status.no'|trans}}</td>
                {% else %}
                    <td>{{'expense.status.yes'|trans}}</td>
                {% endif %}
                <td>
                    <a href="{{ path('expense_edit', { 'id': entity.id }) }}">{{'expense.submit.edit'|trans}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div><br>
{% if pagination.pages_count > 1 %}
    {{ include('CoyoteSiteBundle:Base:pagination.html.twig') }}
{% endif %}
{% else %}
    <p id="titreconfig">{{'expense.message'|trans}}</p>
{% endif %}

{% endblock %}