<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pichon-Website">
        <meta name="author" content="Coyote">
        <link rel="shortcut icon" href="{{ asset('bundles/coyotesite/images/pichonicon.ico') }}" />
        <title>{{'base.title'|trans}}</title>

        <link href="{{ asset('bundles/coyotesite/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/material_design/roboto.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/material_design/material-fullpalette.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/material_design/ripples.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/material_design/snackbar.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/bootstrap-elements.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/coyotesite/css/style.css')}}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{path('main_menu')}}"><img alt="Pichon" src="{{ asset('bundles/coyotesite/images/Logo-PICHON_80.png') }}"></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{path('main_menu')}}">{{'base.nav.accueil'|trans}}</a></li>
        </ul>
    </div>
</div>
	    <div id="wrapper">
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                    </div>
                    <header>
                        {% block header %}
                        {% endblock header %}
                    </header>
                    <section>
                        <article>
                            {% block content %}
                            {% endblock content %}
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <script src="{{ asset('bundles/coyotesite/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/base_1.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/ripples.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/material.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/snackbar.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.nouislider.min.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/base_2.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/google_analytics.js') }}"></script>
    </body>
</html>