{% extends 'CoyoteSiteBundle::base.html.twig' %}

{% block userinfo %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('coyote_index') }}">{{'Accueil'|trans}}</a></li>
		<li id="frais" class="dropdown">
          <a href="{{ path('coyote_time_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Présence'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_time_index') }}">{{'Saisie'|trans}}</a></li>
            <li><a href="{{ path('coyote_time_indexshow') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
        <li id="frais" class="dropdown">
          <a href="{{ path('coyote_expense_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Note de Frais'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_expense_index') }}">{{'Index'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_create') }}">{{'Saisie'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_indexshow') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
        <li id="profil" class="dropdown">
          <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Profil'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_profile_show') }}">{{'Information Profil'|trans}}</a></li>
            <li><a href="{{ path('coyote_changepassword') }}">{{'Changement de mot de passe'|trans}}</a></li>
          </ul>
        </li>
        <li id="config" class="dropdown">
          <a href="{{ path('coyote_configurator') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Configurateur'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_configurator') }}">{{'Création d\'une config'|trans}}</a></li>
          </ul>
        </li>
	</ul>
  </div>
</nav>
	
{% endblock %}


{% block content %}
<p>N° Id des Codes Article</p>
    {% for entity in data %}
        {{ entity }}
    {% endfor %}
{% endblock %}