{% extends 'CoyoteSiteBundle::base.html.twig' %}

{% block userinfo %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('accueil') }}">{{'Accueil'|trans}}</a></li>
	</ul>
  </div>
</nav>
	
{% endblock %}

{% block config %}
<div id="bloc_page">
    <article id="catalogue" >
        <p>Contenu du catalogue</p>
    </article>
    
    <article id="panier" >
        <p>Contenu du panier</p>
    </article>
</div>

{% endblock %}