{% extends 'CoyoteSiteBundle::base.html.twig' %}

{% block javascripts %}
    <!--[if IE]>
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_ie.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
    <![endif]-->
    <!--[if !IE]><!-->
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_config.js') }}"/></script>
        
    <!--<![endif]-->
{% endblock %}

{% block userinfo %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('accueil') }}">{{'Accueil'|trans}}</a></li>
		{#<li id="frais" class="dropdown">
          <a href="{{ path('coyote_time_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Présence'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_time_index') }}">{{'Saisie'|trans}}</a></li>
            <li><a href="{{ path('coyote_time_show') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
        <li id="frais" class="dropdown">
          <a href="{{ path('coyote_expense_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Note de Frais'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_expense_index') }}">{{'Index'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_create') }}">{{'Saisie'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_indexshow') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
        <li id="profil" class="dropdown">
          <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Profil'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_profile_show') }}">{{'Information Profil'|trans}}</a></li>
            <li><a href="{{ path('coyote_changepassword') }}">{{'Changement de mot de passe'|trans}}</a></li>
          </ul>
        </li>
        <li id="config" class="dropdown">
          <a href="{{ path('coyote_configurator') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Configurateur'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_configurator') }}">{{'Création d\'une config'|trans}}</a></li>
            <li><a href="{{ path('coyote_configurator_code') }}">{{'Code'|trans}}</a></li>
          </ul>
        </li>#}
	</ul>
  </div>
</nav>
	
{% endblock %}


{% block content %}
<div id="data">
    <form role="form" action="{{ path('coyote_configurator_pagedeux') }}" method='post'>
        <p id="titreconfig">Sélection d'une cuve</p>
        
        <p id="titreconfig">Cuves Modèles TCI 1 Essieu</p>
        
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>øCuve</th>
                <th>Ep. Cuve</th>
                <th>Ep. châssis</th>
                <th>Long. cuve</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in data %}
        {% if entity.type == "Cuve 1 Essieu" %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.designation }} </td>
                <td>{{ entity.diacuve }}</td>
                <td>{{ entity.epcuve }}</td>
                <td>{{ entity.epchassis }}</td>
                <td>{{ entity.longcuve }}</td>
                <td>{{ entity.prixht }} €</td>
                <td><input type="radio" name="cuve" value="{{entity.code}}" id="cuve" onclick="if(this.checked){myFunction('{{entity.designation}}', '{{entity.prixht}}')}" ></td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        <p id="titreconfig">Cuves Modèles TCI 2 Essieux</p>
        
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>øCuve</th>
                <th>Ep. Cuve</th>
                <th>Ep. châssis</th>
                <th>Long. cuve</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in data %}
        {% if entity.type == "Cuve 2 Essieux" %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.designation }} </td>
                <td>{{ entity.diacuve }}</td>
                <td>{{ entity.epcuve }}</td>
                <td>{{ entity.epchassis }}</td>
                <td>{{ entity.longcuve }}</td>
                <td>{{ entity.prixht }} €</td>
                <td><input type="radio" name="cuve" value="{{entity.code}}" id="cuve" ></td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        <p id="titreconfig">Cuves Modèles TCI 3 Essieux</p>
        
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>øCuve</th>
                <th>Ep. Cuve</th>
                <th>Ep. châssis</th>
                <th>Long. cuve</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in data %}
        {% if entity.type == "Cuve 3 Essieux" %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.designation }} </td>
                <td>{{ entity.diacuve }}</td>
                <td>{{ entity.epcuve }}</td>
                <td>{{ entity.epchassis }}</td>
                <td>{{ entity.longcuve }}</td>
                <td>{{ entity.prixht }} €</td>
                <td><input type="radio" name="cuve" value="{{entity.code}}" id="cuve" ></td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        
        <p id="titreconfig">Suppléments Cuves</p>
        
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in data %}
        {% if entity.type == "Supplements Cuves" %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.designation }} </td>
                {% if entity.prixht == "Nous consulter" %}
                    <td>{{ entity.prixht }}</td>
                {% else %}
                    <td>{{ entity.prixht }} €</td>
                {% endif %}
                <td><input type="checkbox" name="supp_cuves" value="{{entity.code}}" ></td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        
        <button class='btnpage' type="submit" value="Suivant" id="suivant">{{ 'Suivant'|trans }}</button>
    </form>
</div>
<textarea rows="30" cols="50" id="panier">
</textarea>
{% endblock %}