{% extends 'CoyoteSiteBundle:Config:pageun.html.twig' %}

{% block content %}
<form role="form" action="{{ path('coyote_configurator_pagequatre') }}" method='post'>
    <p id="titreconfig">Sélection des suppléments de la cuve</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in data %}
        {% if entity.comment == essieu %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="suppcuve" value="{{entity.id}}" ></td>
        </tr>
        {% elseif entity.comment == "" %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="suppcuve" value="{{entity.id}}" ></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <p id="titreconfig"> Les Tuyaux </p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="tuyaux" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    <button class='btnpage' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}