{% extends 'CoyoteSiteBundle:Config:pageun.html.twig' %}

{% block content %}
<form role="form" action="{{ path('coyote_configurator_pagecinq') }}" method='post'>
    <p id="titreconfig">Ouvertures - Remplissages</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in commun0 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="ouvertures" value="{{entity.id}}" ></td>
        </tr>
        {% endfor %}
    </table>
    <p id="titreconfig"> Indicateurs - Voyants </p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun1 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    <p id="titreconfig"> Vidange en descente </p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun2 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="vidange" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    <p id="titreconfig"> Eclairage - Signalisation</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun3 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    {% if data %}
    <p id="titreconfig"> Divers </p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in data %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    <button class='btnpage' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}