{% extends 'CoyoteSiteBundle:Config:pageun.html.twig' %}

{% block content %}
<form role="form" action="{{ path('coyote_configurator_pagesept') }}" method='post'>
    {% if commun0 %}
    <p id="titreconfig">Vannes</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in commun0 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="ouvertures" value="{{entity.id}}" ></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if commun1 %}
    <p id="titreconfig">Modèle droite et gauche BP2</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun1 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if commun2 %}
    <p id="titreconfig">Suppléments modèle BP2</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun2 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="vidange" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if commun3 %}
    <p id="titreconfig">Adaptations BP2 sur tonnes en service</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in commun3 %}
        <tr>
            <td>{{ entity.item.code }}</td>
            <td>{{ entity.item.designation1 }} </td>
            <td>{{ entity.item.price }} €</td>
            <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% if commun4 is defined %}
        {% if commun4 %}
        <p id="titreconfig">Modèle Plongeur</p>
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in commun4 %}
            <tr>
                <td>{{ entity.item.code }}</td>
                <td>{{ entity.item.designation1 }} </td>
                <td>{{ entity.item.price }} €</td>
                <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    {% endif %}
    {% if commun5 is defined %}
        {% if commun5 %}
        <p id="titreconfig">Suppléments modèle bras plongeur</p>
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in commun5 %}
            <tr>
                <td>{{ entity.item.code }}</td>
                <td>{{ entity.item.designation1 }} </td>
                <td>{{ entity.item.price }} €</td>
                <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    {% endif %}
    {% if commun6 is defined %}
        {% if commun6 %}
        <p id="titreconfig">Modèle tourelle</p>
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in commun6 %}
            <tr>
                <td>{{ entity.item.code }}</td>
                <td>{{ entity.item.designation1 }} </td>
                <td>{{ entity.item.price }} €</td>
                <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    {% endif %}
    {% if commun7 is defined %}
        {% if commun7 %}
        <p id="titreconfig">Suppléments modèle bras tourelle</p>
        <table class='table' id='tab_expense'>
            <tr>
                <th>Code</th>
                <th>Désignation</th>
                <th>Prix HT</th>
                <th>Sélection</th>
            </tr>
        {% for entity in commun7 %}
            <tr>
                <td>{{ entity.item.code }}</td>
                <td>{{ entity.item.designation1 }} </td>
                <td>{{ entity.item.price }} €</td>
                <td><input type="checkbox" name="indicateurs" value="{{entity.id}}" ></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    {% endif %}
    <button class='btnpage' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}