{% extends 'CoyoteSiteBundle:Config:pageun.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
    <script src="{{ asset('bundles/coyotesite/js/script_configpagedeux.js') }}"/></script>
{% endblock %}


{% block content %}
<form name="pagedeux" role="form" action="{{ path('coyote_configurator_pageneuf') }}" method='post'>
    
    <p id="titreconfig">Portes (Montées sur charnières)</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in porte %}
        <tr>
            <td>{{ entity.code }}</td>
            <td>{{ entity.designation }} </td>
            <td>{{ entity.prixht }} €</td>
            <td><input type="radio" name="porte" value="{{entity.code}}" ></td>
        </tr>
        {% endfor %}
    </table>
    
    <p id="titreconfig">Indicateurs - Voyants</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in indic %}
        <tr>
            <td>{{ entity.code }}</td>
            <td>{{ entity.designation }} </td>
            <td>{{ entity.prixht }} €</td>
            <td><input type="checkbox" name="indic" value="{{entity.code}}" ></td>
        </tr>
        {% endfor %}
    </table>
    
    <p id="titreconfig">Supports Tuyaux</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
        {% for entity in tuyaux %}
        <tr>
            <td>{{ entity.code }}</td>
            <td>{{ entity.designation }} </td>
            <td>{{ entity.prixht }} €</td>
            <td><input type="checkbox" name="tuyaux" value="{{entity.code}}" ></td>
        </tr>
        {% endfor %}
    </table>
    
    
    <p id="titreconfig">Eclairage - Signalisation</p>
    <table class='table' id='tab_expense'>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix HT</th>
            <th>Sélection</th>
        </tr>
    {% for entity in eclairage %}
        <tr>
            <td>{{ entity.code }}</td>
            <td>{{ entity.designation }} </td>
            <td>{{ entity.prixht }} €</td>
            <td><input type="checkbox" name="eclairage" value="{{entity.code}}" ></td>
        </tr>
    {% endfor %}
    </table>
        
    <button class='btnpage' type="submit" value="Afficher" id="afficher">{{ 'Afficher'|trans }}</button>
</form>
{% endblock %}