{% extends "CoyoteSiteBundle:Base:base.html.twig" %}

{% block nav %}
    {{ include('CoyoteSiteBundle:Base:navigation_login.html.twig') }}
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('sendmessage') %}

        <p id="flashmessage">{{ flashMessage|trans }}</p>

    {% endfor %}
    <div id="contenu-contact">
        <p id="titreconfig"><b>{{'contact.title'|trans}}</b></p>
        <form action="{{ path('contact_index') }}" method="post" {{ form_enctype(form) }}>
            <input id="contact_email" type="email" required="required" name="contact[email]" class="form-control" placeholder="{{"contact.email"|trans}}" >
            <input id="contact_subject" type="text" class="form-control" placeholder="{{"contact.subject"|trans}}" required="required" name="contact[subject]">
            <textarea class="form-control" rows="5" placeholder="{{"contact.content"|trans}}" id="contact_content" required="required" name="contact[content]"></textarea>
            </br><button class="btn btn-danger btn-default" type="submit" id="_submit" name="_submit">{{ 'contact.submit'|trans }}</button>
        </form>
    </div>
{% endblock %}