{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block javascripts %}
    <!--[if IE]>
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework_ie.js') }}"></script>
    <![endif]-->
    <!--[if !IE]><!-->
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework.js') }}"/></script>
    <!--<![endif]-->
{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('save') %}

    {{ flashMessage }}

{% endfor %}

<form role="form" action="{{ path('coyote_time_savetimefm') }}" method='post'>
    <div id="contenu">
        <p>Voici la semaine {{ app.session.get('no_week') }} d'affichée de l'année {{ app.session.get('year') }}</p>
	    <div class='table-responsive'>
	        <table id='table_temps' class='table'>
                <h2>Temps de travail</h2>
            	<thead>
            		<tr>
            			<td>Jour de la semaine</td>
            			<td>Journée travaillée</td>
            			<td>Déplacement</td>
            			<td>Absence</td>
            			<td>Commentaire</td>
            		</tr>
            	</thead>
        		<tbody>
        			<tr>
        				<td id="{{ id.0.id }}" data-value={{ id.0.id }} data-id={{ timetable.0.id }} class='jour'>{{ 'Lundi'| trans }} : 
        				    <input class='input' type='text' disabled name='datelundi' id='datelundi' value={{ date.0.date }} />
        				</td>
        				<td class'jourlundi'>
        					<select name='jourlundi' id='jourlundi' data-value="{{ time.0.workinghours }}" >
        					    <option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementlundi' id='deplacementlundi' data-value={{ time.0.travel }} >
        					    <option value='0'>Non</option>
        				    	<option value='1'>Oui</option>
        					</select>
        				</td>
                        <td>
        					<select name='absencelundi' id='absencelundi' data-value={{ time.0.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder='Saisir un commentaire' data-value={{ time.0.comment }} value={{ time.0.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.1.id }}" data-value={{ id.1.id }} data-id={{ timetable.1.id }} class='jour'>{{ 'Mardi'| trans }} :
        				    <input class='input' type='text' disabled name='datemardi' id='datemardi' value={{ date.1.date }} />
        				</td>
        				<td class='jourmardi'>
        					<select name='jourmardi' id='jourmardi' data-value={{ time.1.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementmardi' id='deplacementmardi' data-value={{ time.1.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencemardi' id='absencemardi' value='' data-value={{ time.1.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder='Saisir un commentaire' data-value={{ time.1.comment }} value={{ time.1.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.2.id }}" data-value={{ id.2.id }} data-id={{ timetable.2.id }} class='jour'>{{ 'Mercredi' | trans }} :
            				<input class='input' type='text' disabled name='datemercredi' id='datemercredi' value={{ date.2.date }} />
                        </td>
        				<td class'jourmercredi'>
        					<select name='jourmercredi' id='jourmercredi' data-value={{ time.2.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementmercredi' id='deplacementmercredi' data-value={{ time.2.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencemercredi' id='absencemercredi' data-value={{ time.2.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder='Saisir un commentaire' data-value={{ time.2.comment }} value={{ time.2.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.3.id }}" data-value={{ id.3.id }} data-id={{ timetable.3.id }} class='jour'>{{ 'Jeudi' | trans }} :
            				<input class='input' type='text' disabled name='datejeudi' id='datejeudi' value={{ date.3.date }} />
                        </td>
        				<td class'jourjeudi'>
        					<select name='jourjeudi' id='jourjeudi' data-value={{ time.3.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementjeudi' id='deplacementjeudi' data-value={{ time.3.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencejeudi' id='absencejeudi' data-value={{ time.3.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder='Saisir un commentaire' data-value={{ time.3.comment }} value={{ time.3.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.4.id }}" data-value={{ id.4.id }} data-id={{ timetable.4.id }} class='jour'>{{ 'Vendredi' | trans }} :
        				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' value={{ date.4.date }} />
        				</td>
        				<td class'jourvendredi'>
        					<select name='jourvendredi' id='jourvendredi' data-value={{ time.4.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementvendredi' id='deplacementvendredi' data-value={{ time.4.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencevendredi' id='absencevendredi' data-value={{ time.4.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder='Saisir un commentaire' data-value={{ time.4.comment }} value={{ time.4.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.5.id }}" data-value={{ id.5.id }} data-id={{ timetable.5.id }} class='jour'>{{ 'Samedi' | trans }} :
            				<input class='input' type='text' disabled name='datesamedi' id='datesamedi' value={{ date.5.date }} />
                        </td>
        				<td class'joursamedi'>
        					<select name='joursamedi' id='joursamedi' data-value={{ time.5.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementsamedi' id='deplacementsamedi' data-value={{ time.5.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencesamedi' id='absencesamedi' data-value={{ time.5.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder='Saisir un commentaire' data-value={{ time.5.comment }} value={{ time.5.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ id.6.id }}" data-value={{ id.6.id }} data-id={{ timetable.6.id }} class='jour'>{{'Dimanche'|trans }} :
            				<input class='input' type='text' disabled name='datedimanche' id='datedimanche' value={{ date.6.date }} />
        				</td>
        				<td class'jourdimanche'>
        					<select name='jourdimanche' id='jourdimanche' data-value={{ time.6.workinghours }} >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement'>
        					<select name='deplacementdimanche' id='deplacementdimanche' data-value={{ time.6.travel }} >
            					<option value='0'>Non</option>
            					<option value='1'>Oui</option>
        					</select>
        				</td>
        				<td>
        					<select name='absencedimanche' id='absencedimanche' data-value={{ time.6.absence }} >
            					<option value='aucune'></option>
            					<option value='rtt'>RTT</option>
            					<option value='cp'>Congés payés</option>
            					<option value='ca'>CA</option>
            					<option value='cef'>CEF</option>
            					<option value='css'>Congés sans solde</option>
            					<option value='mal'>Maladie/At/Pat</option>
        					</select>
        				</td>
        				<td>
        				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder='Saisir un commentaire' data-value={{ time.6.comment }} value={{ time.6.comment }} />
        				</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <br>
	    <a id='work_less' class='btnpage' href="{{ path('coyote_time_worklessfm')}}" >Semaine Précédente</a>
        <a id='work_more' class='btnpage' href="{{ path('coyote_time_workmorefm')}}" >Semaine Suivante</a>
        <br><br>
        <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
    </div>
</form>
{% endblock %}