{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block link %}
    
    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle::navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle::navigation.html.twig') }}
	<!--<![endif]-->
	
{% endblock %}


{% block content %}
<p id="titreconfig">{{'Consultation des temps de présence'|trans}} </p>
<form role="form" action="{{ path('coyote_time_show') }}" method='get'>
    <table class='table'>
    	<tr>
    	    <th>{{'Mois'|trans}}</th>
    		<th>{{'Année'|trans}}</th>
    	</tr>
        <tr>
            <td>
                <select name='month' id='month' >
					<option value='01'>{{'Janvier'|trans}}</option>
					<option value='02'>{{'Février'|trans}}</option>
					<option value='03'>{{'Mars'|trans}}</option>
					<option value='04'>{{'Avril'|trans}}</option>
					<option value='05'>{{'Mai'|trans}}</option>
					<option value='06'>{{'Juin'|trans}}</option>
					<option value='07'>{{'Juillet'|trans}}</option>
					<option value='08'>{{'Août'|trans}}</option>
					<option value='09'>{{'Septembre'|trans}}</option>
					<option value='10'>{{'Octobre'|trans}}</option>
					<option value='11'>{{'Novembre'|trans}}</option>
					<option value='12'>{{'Décembre'|trans}}</option>
				</select>
            </td>
            <td>
                <select name='year' id='year' >
                    <option value='2013'>2013</option>
					<option value='2014' selected>2014</option>
					<option value='2015'>2015</option>
					<option value='2016'>2016</option>
				</select>
            </td>
        </tr>
    </table>
    <button class='btnsave' type="submit" value="Afficher" id="afficher">{{'Afficher'|trans }}</button>
</form>
{% endblock %}