{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block content %}
<p>{{'Récapitulatif du mois'|trans}}</p>

<table>
<tr>
    <td style="background:#7FC6BC; color:white">{{'Jour férié'|trans}}</td>
    <td style="background:#01B0F0; color:white">{{'Weekend'|trans}}</td>
</tr>
</table>

<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'Jour de la semaine'|trans}}</th>
    		<th id='tab_time_date'>{{'Date'|trans}}</th>
    		<th id='tab_time_workinghours'>{{'Journée travaillée'|trans}}</th>
    		<th id='tab_time_travel'>{{'Déplacement'|trans}}</th>
    		<th id='tab_time_absence'>{{'Absence'|trans}}</th>
    		<th id='tab_time_comment'>{{'Commentaire'|trans}}</th>
    	</tr>
    	{% for entity in data %}
            <tr>
                {% if entity.timetable.holiday == "1" %}
                    <td style="background:#7FC6BC; color:white">{{ entity.timetable.day|capitalize|trans}}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.timetable.date}}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.workinghours }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.travel }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.absence|trans }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.comment }}</td>
                {% elseif entity.timetable.day == "samedi" %}
                    <td style="background:#01B0F0; color:white">{{ entity.timetable.day|capitalize|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.timetable.date}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.workinghours }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.comment }}</td>
                {% elseif entity.timetable.day == "dimanche" %}
                    <td style="background:#01B0F0; color:white">{{ entity.timetable.day|capitalize|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.timetable.date}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.workinghours }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.comment }}</td>
                {% else %}
                    <td>{{ entity.timetable.day|capitalize|trans}}</td>
                    <td>{{ entity.timetable.date}}</td>
                    <td>{{ entity.workinghours }}</td>
                    <td>{{ entity.travel }}</td>
                    <td>{{ entity.absence|trans }}</td>
                    <td>{{ entity.comment }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{{'Jour travaillé dans le mois / année'|trans }} : {{daymonth}} / {{dayyear}}<br>
{{'Nombre de RTT utilisé dans le mois / année'|trans}} : {{rtt}} / {{rttyear}}<br>
{{"Nombre de congés payés (CP) utilisé dans le mois / année" | trans }} : {{cp}} / {{cpyear}} <br>
{{"Nombre de congés d'anciennetés (CA) utilisé dans le mois / année" | trans }} : {{ca}} / {{cayear}} <br>



{% endblock %}