{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block link %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><a href="{{ path('coyote_index') }}">{{'Accueil'|trans}}</a></li>
		<li id="frais" class="dropdown">
          <a href="{{ path('coyote_time_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Présence'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_time_index') }}">{{'Saisie'|trans}}</a></li>
            <li class="active"><a href="{{ path('coyote_time_show') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
        <li id="frais" class="dropdown">
          <a href="{{ path('coyote_expense_index') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Note de Frais'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_expense_index') }}">{{'Index'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_create') }}">{{'Saisie'|trans}}</a></li>
            <li><a href="{{ path('coyote_expense_show') }}">{{'Consultation'|trans}}</a></li>
          </ul>
        </li>
	</ul>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th id='tab_time_date'>{{'Date'|trans}}</th>
    		<th id='tab_time_debut'>{{'Début'|trans}}</th>
    		<th id='tab_time_fin'>{{'Fin'|trans}}</th>
    		<th id='tab_time_pause'>{{'Pause'|trans}}</th>
    		<th id='tab_time_workingtime'>{{'Temps de travail'|trans}}</th>
    		<th id='tab_time_workinghours'>{{'Journée travaillée'|trans}}</th>
    		<th id='tab_time_travel'>{{'Déplacement'|trans}}</th>
    		<th id='tab_time_absence'>{{'Absence'|trans}}</th>
    		<th id='tab_time_comment'>{{'Commentaire'|trans}}</th>
    	</tr>
    	{% for entity in data %}
            <tr>
                <td>{{ entity.timetable.date}}</td>
                <td>{{ entity.start }}</td>
                <td>{{ entity.end }}</td>
                <td>{{ entity.break }}</td>
                <td>{{ entity.workingtime }}</td>
                <td>{{ entity.workinghours }}</td>
                <td>{{ entity.travel }}</td>
                <td>{{ entity.absence }}</td>
                <td>{{ entity.comment }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{{'Temps total travaillé dans le mois :'|trans}} {{time}}

{% endblock %}