{% extends 'CoyoteSiteBundle:Time:index.html.twig' %}

{% block javascripts %}
    <!--[if IE]>
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
    <![endif]-->
    <!--[if !IE]><!-->
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
    <!--<![endif]-->

{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('save') %}

    {{ flashMessage }}

{% endfor %}

<form role="form" action="{{ path('coyote_time_savetime') }}" method='post'>
    <div id="contenu">
        <p id="titreconfig">{{'Voici la semaine'|trans}} {{ app.session.get('no_week') }} {{"d'affichée de l'année"|trans}} {{ app.session.get('year') }}</p>
        <div class='table-responsive'>
    	    <table id='table_temps' class='table'>
    		    <h2>{{'Temps de travail'|trans}}</h2>
                <thead>
    		    	<tr>
        				<td>{{'Jour de la semaine'|trans}}</td>
        				<td>{{'Début'|trans}}</td>
        				<td>{{'Fin'|trans}}</td>
        				<td>{{'Pause'|trans}}</td>
        				<td>{{'Temps de travail'|trans}}</td>
        				<td>{{'Journée travaillée'|trans}}</td>
        				<td>{{'Déplacement'|trans}}</td>
        				<td>{{'Absence'|trans}}</td>
        				<td>{{'Commentaire'|trans}}</td>    				
                    </tr>
    		</thead>
    		<tbody> <!-- Corps du tableau -->
    			<tr>
    				<td class='jour'>{{ 'Lundi'|trans }} :
    				    <input class='input' type='text' disabled name='datelundi' id='datelundi' value={{ date.0.date }} />
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='9:00' maxlength='5' name='debutlundi' id='debutlundi' value=''/>
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='17:00' maxlength='5' name='finlundi' id='finlundi' value='' />
    				</td>
    				<td>
    				    <input class='input' type='text' placeholder='1:00' maxlength='5' name='pauselundi' id='pauselundi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' maxlength='5' name='tpslundi' id='tpslundi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourlundi' id='jourlundi' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementlundi' id='deplacementlundi' >
    					    <option value='0'>{{'Non'|trans}}</option>
                            <option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencelundi' id='absencelundi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Mardi'|trans }} :
    				    <input class='input' type='text' disabled name='datemardi' id='datemardi' value={{ date.1.date }} />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='debutmardi' id='debutmardi' value='' />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='finmardi' id='finmardi' value='' />
    				</td>
    				<td>
    				    <input class='input' type='text' maxlength='5' name='pausemardi' id='pausemardi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled maxlength='5' type='text' name='tpsmardi' id='tpsmardi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourmardi' id='jourmardi' value='' />
    				</td>
    				<td class='deplacement' >
    					<select name='deplacementmardi' id='deplacementmardi'>
        					<option value='0'>{{'Non'|trans}}</option>
        					<option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencemardi' id='absencemardi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder='{{'Saisir un commentaire'|trans}}' value=''/>
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Mercredi' | trans }} :
    				    <input class='input' type='text' disabled name='datemercredi' id='datemercredi' value={{ date.2.date }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutmercredi' id='debutmercredi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finmercredi' id='finmercredi' value='' />
                    </td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausemercredi' id='pausemercredi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsmercredi' id='tpsmercredi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourmercredi' id='jourmercredi' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementmercredi' id='deplacementmercredi' >
        					<option value='0'>{{'Non'|trans}}</option>
        					<option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencemercredi' id='absencemercredi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Jeudi' | trans }} :
    				    <input class='input' type='text' disabled name='datejeudi' id='datejeudi' value={{ date.3.date }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutjeudi' id='debutjeudi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finjeudi' id='finjeudi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausejeudi' id='pausejeudi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsjeudi' id='tpsjeudi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourjeudi' id='jourjeudi' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementjeudi' id='deplacementjeudi' >
        					<option value='0'>{{'Non'|trans}}</option>
        					<option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencejeudi' id='absencejeudi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Vendredi' | trans }} :
    				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' value={{ date.4.date }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutvendredi' id='debutvendredi' value='' >
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finvendredi' id='finvendredi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausevendredi' id='pausevendredi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsvendredi' id='tpsvendredi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourvendredi' id='jourvendredi' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementvendredi' id='deplacementvendredi' >
    					    <option value='0'>{{'Non'|trans}}</option>
                            <option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencevendredi' id='absencevendredi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Samedi' | trans }} :
    				    <input class='input' type='text' disabled name='datesamedi' id='datesamedi' value={{ date.5.date }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutsamedi' id='debutsamedi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='finsamedi' id='finsamedi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausesamedi' id='pausesamedi' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpssamedi' id='tpssamedi' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='joursamedi' id='joursamedi' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementsamedi' id='deplacementsamedi' >
        					<option value='0'>{{'Non'|trans}}</option>
        					<option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencesamedi' id='absencesamedi' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    			<tr>
    				<td class='jour'>{{ 'Dimanche' | trans }} :
    				    <input class='input' type='text' disabled name='datedimanche' id='datedimanche' value={{ date.6.date }} />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='debutdimanche' id='debutdimanche' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='findimanche' id='findimanche' value='' >
    				</td>
    				<td>
    				    <input class='input' maxlength='5' type='text' name='pausedimanche' id='pausedimanche' value='' />
    				</td>
    				<td>
    				    <input class='input' maxlength='5' disabled type='text' name='tpsdimanche' id='tpsdimanche' value='' />
    				</td>
    				<td>
    				    <input class='input' disabled type='text' name='jourdimanche' id='jourdimanche' value='' />
    				</td>
    				<td class='deplacement'>
    					<select name='deplacementdimanche' id='deplacementdimanche' >
        					<option value='0'>{{'Non'|trans}}</option>
        					<option value='1'>{{'Oui'|trans}}</option>
    					</select>
    				</td>
    				<td>
    					<select name='absencedimanche' id='absencedimanche' >
        					<option value='Aucune'></option>
        					<option value='RTT'>RTT</option>
        					<option value='Congés payés'>Congés payés</option>
        					<option value='CA'>CA</option>
        					<option value='CEF'>CEF</option>
        					<option value='Congés sans solde'>Congés sans solde</option>
        					<option value='Maladie/At/Pat'>Maladie/At/Pat</option>
    					</select>
    				</td>
    				<td>
    				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
	<div>
	    <br>
		    {{'Saisie automatique des heures (Cochez les jours que vous souhaitez remplir et saisissez les valeurs dans les champs début fin pause ci-dessous)'|trans}}
		<br>
		<input type='checkbox' name='lundi' id='check_lundi'>{{ 'Lundi'|trans }} 
		<input type='checkbox' name='mardi' id='check_mardi'> {{ 'Mardi'|trans }} 
		<input type='checkbox' name='mercredi' id='check_mercredi'>{{ 'Mercredi'|trans }} 
		<input type='checkbox' name='jeudi' id='check_jeudi'>{{ 'Jeudi'|trans }}
		<input type='checkbox' name='vendredi' id='check_vendredi'>{{ 'Vendredi'|trans }}
		<input type='checkbox' name='samedi' id='check_samedi'>{{ 'Samedi'|trans }}
		<input type='checkbox' name='dimanche' id='check_dimanche'>{{ 'Dimanche'|trans }}<br>
		{{ 'Début'|trans }}<input class='input' type='text' id='debutauto'>
		{{ 'Fin'|trans }}<input class='input' type='text' id='finauto'>
		{{ 'Pause'|trans }}<input class='input' type='text' id='pauseauto'>
	</div><br>
    <a id='saisie_auto' class='btnauto' onclick='saisie_auto()'>{{'Saisie Automatique'|trans}}</a><br><br>
    <a id='work_less' class='btnpage' href="{{ path('coyote_time_workless')}}" >{{'Semaine Précédente'|trans}}</a>
    <a id='work_more' class='btnpage' href="{{ path('coyote_time_workmore')}}" >{{'Semaine Suivante'|trans}}</a><br><br>
    
    <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
</form>

<br><br><div hidden>{{'Temps travaillé dans la semaine'|trans}} <input disabled type="text" id="timeweek"></input></div>

{% endblock %}