{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block javascripts %}
    <!--[if IE]>
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_ie.js') }}"></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
    <![endif]-->
    <!--[if !IE]><!-->
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>
        {% if is_granted('ROLE_TECH') %}
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
        {% endif %}
        {% if is_granted('ROLE_CADRE') %}
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework_change.js') }}"/></script>
        {% endif %}
    <!--<![endif]-->
{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('save') %}

    {{ flashMessage }}

{% endfor %}

{% if is_granted('ROLE_TECH') %}
<form role="form" action="{{ path('schedule_savetime') }}" method='post'>
<div id="contenu">
    <p id="titreconfig">
        <b>{{'Temps de travail'|trans}} - </b>
        {{"Voici la semaine"|trans}} {{ app.session.get('no_week') }} {{"affichée de l'année"|trans}} {{ app.session.get('year') }}
    </p>
    <div class='table-responsive'>
    	<table id='table_temps' class='table'>
    		<thead>
    			<tr>
    				<td>{{'Jour de la semaine'|trans}}</td>
    				<td>{{'Début'|trans}}</td>
    				<td>{{'Fin'|trans}}</td>
    				<td>{{'Pause'|trans}}</td>
    				<td>{{'Heures travaillées'|trans}}</td>
    				<!--<td>{{'Journée travaillée'|trans}}</td>-->
    				<td>{{'Déplacement'|trans}}</td>
    				<td>{{'Absence'|trans}}</td>
    				<td>{{'Temps Absence'|trans}}</td>
    				<td>{{'Commentaire'|trans}}</td>

    			</tr>
    		</thead>
    		<tbody> <!-- Corps du tableau -->
    			<tr>
    				<td id="daylundi" data-value={{ data_timetable.0.id }} data-id={{ time.0.id }} class='jour'>{{ 'Lundi'|trans }} :
    				    <input class='input' type='text' disabled name='datelundi' id='datelundi' data-value="{{ data_timetable.0.date|date("d/m/Y") }}" value={{ data_timetable.0.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutlundi' id='debutlundi' maxlength='5' data-value={{ time.0.start }} value={{ time.0.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finlundi' id='finlundi' maxlength='5' data-value={{ time.0.end }} value={{ time.0.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pauselundi' id='pauselundi' maxlength='5' data-value={{ time.0.break }} value={{ time.0.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpslundi' id='tpslundi' disabled data-value={{ time.0.workingtime }} value={{ time.0.workingtime }} />
    				</td>
    				<td class='deplacement' >
    					<input type="checkbox" name='deplacementlundi' id='deplacementlundi' data-value={{ time.0.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencelundi' id='absencelundi' data-value={{ time.0.absencename }} >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedaylundi' id='absencedaylundi' data-value={{time.0.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimelundi' id='absencetimelundi' maxlength='5' />
    				</td>
    				<td>
    				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.0.comment }} value="{{ time.0.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.1.id }}" data-value={{ data_timetable.1.id }} data-id={{ time.1.id }} class='jour'>{{ 'Mardi'|trans }} :
    				    <input class='input' type='text' disabled name='datemardi' id='datemardi' data-value={{ data_timetable.1.date|date("d/m/Y") }} value={{ data_timetable.1.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutmardi' id='debutmardi' maxlength='5' data-value={{ time.1.start }} value={{ time.1.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finmardi' id='finmardi' maxlength='5' data-value={{ time.1.end }} value={{ time.1.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausemardi' id='pausemardi' maxlength='5' data-value={{ time.1.break }} value={{ time.1.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpsmardi' id='tpsmardi' disabled data-value={{ time.1.workingtime }} value={{ time.1.workingtime }} />
    				</td>
    				<td class='deplacement' >
    					<input type="checkbox" name='deplacementmardi' id='deplacementmardi' data-value={{ time.1.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencemardi' id='absencemardi' data-value="{{ time.1.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedaymardi' id='absencedaymardi' data-value={{time.1.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimemardi' id='absencetimemardi' maxlength='5'/>
    				</td>
    				<td>
    				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.1.comment }} value="{{ time.1.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.2.id }}" data-value={{ data_timetable.2.id }} data-id={{ time.2.id }} class='jour'>Mercredi :
    				    <input class='input' type='text' disabled name='datemercredi' id='datemercredi' data-value={{ data_timetable.2.date|date("d/m/Y") }} value={{ data_timetable.2.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutmercredi' id='debutmercredi' maxlength='5' data-value={{ time.2.start }} value={{ time.2.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finmercredi' id='finmercredi' maxlength='5' data-value={{ time.2.end }} value={{ time.2.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausemercredi' id='pausemercredi' maxlength='5' data-value={{ time.2.break }} value={{ time.2.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpsmercredi' id='tpsmercredi' disabled data-value={{ time.2.workingtime }} value={{ time.2.workingtime }} />
    				</td>
    				<td class='deplacement' >
    					<input type="checkbox" name='deplacementmercredi' id='deplacementmercredi' data-value={{ time.2.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencemercredi' id='absencemercredi' data-value="{{ time.2.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedaymercredi' id='absencedaymercredi' data-value={{time.2.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimemercredi' id='absencetimemercredi' maxlength='5'/>
    				</td>
                    <td>
    				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.2.comment }} value="{{ time.2.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.3.id }}" data-value={{ data_timetable.3.id }} data-id={{ time.3.id }} class='jour'>Jeudi :
    				    <input class='input' type='text' disabled name='datejeudi' id='datejeudi' data-value={{ data_timetable.3.date|date("d/m/Y") }} value={{ data_timetable.3.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutjeudi' id='debutjeudi' maxlength='5' data-value={{ time.3.start }} value={{ time.3.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finjeudi' id='finjeudi' maxlength='5' data-value={{ time.3.end }} value={{ time.3.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausejeudi' id='pausejeudi' maxlength='5' data-value={{ time.3.break }} value={{ time.3.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpsjeudi' id='tpsjeudi' disabled data-value={{ time.3.workingtime }} value={{ time.3.workingtime }} />
    				</td>
    				<td class='deplacement' >
    					<input type="checkbox" name='deplacementjeudi' id='deplacementjeudi' data-value={{ time.3.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencejeudi' id='absencejeudi' data-value="{{ time.3.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedayjeudi' id='absencedayjeudi' data-value={{time.3.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimejeudi' id='absencetimejeudi' maxlength='5'/>
    				</td>
    				<td>
    				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.3.comment }} value="{{ time.3.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.4.id }}" data-value={{ data_timetable.4.id }} data-id={{ time.4.id }} class='jour'>Vendredi :
    				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' data-value={{ data_timetable.4.date|date("d/m/Y") }} value={{ data_timetable.4.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutvendredi' id='debutvendredi' maxlength='5' data-value={{ time.4.start }} value={{ time.4.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finvendredi' id='finvendredi' maxlength='5' data-value={{ time.4.end }} value={{ time.4.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausevendredi' id='pausevendredi' maxlength='5' data-value={{ time.4.break }} value={{ time.4.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpsvendredi' id='tpsvendredi' disabled data-value={{ time.4.workingtime }} value={{ time.4.workingtime }} />
    				</td>
    				<td class='deplacement'>
    					<input type="checkbox" name='deplacementvendredi' id='deplacementvendredi' data-value={{ time.4.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencevendredi' id='absencevendredi' data-value="{{ time.4.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedayvendredi' id='absencedayvendredi' data-value={{time.4.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimevendredi' id='absencetimevendredi' maxlength='5'/>
    				</td>
    				<td>
    				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.4.comment }} value="{{ time.4.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.5.id }}" data-value={{ data_timetable.5.id }} data-id={{ time.5.id }} class='jour'>Samedi :
    				    <input class='input' type='text' disabled name='datesamedi' id='datesamedi' data-value={{ data_timetable.5.date|date("d/m/Y") }} value= {{ data_timetable.5.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutsamedi' id='debutsamedi' maxlength='5' data-value={{ time.5.start }} value={{ time.5.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='finsamedi' id='finsamedi' maxlength='5' data-value={{ time.5.end }} value={{ time.5.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausesamedi' id='pausesamedi' maxlength='5' data-value={{ time.5.break }} value={{ time.5.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpssamedi' id='tpssamedi' disabled data-value={{ time.5.workingtime }} value={{ time.5.workingtime }} />
    				</td>
    				<td class='deplacement'>
    					<input type="checkbox" name='deplacementsamedi' id='deplacementsamedi' data-value={{ time.5.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencesamedi' id='absencesamedi' data-value="{{ time.5.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday'>
    					<select name='absencedaysamedi' id='absencedaysamedi' data-value={{time.5.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimesamedi' id='absencetimesamedi' maxlength='5'/>
    				</td>
    				<td>
    				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.5.comment }} value="{{ time.5.comment }}" />
    				</td>
    			</tr>
    			<tr>
    				<td id="{{ data_timetable.6.id }}" data-value={{ data_timetable.6.id }} data-id={{ time.6.id }} class='jour'>Dimanche :
    				    <input class='input' type='text' disabled name='datedimanche' id='datedimanche' data-value={{ data_timetable.6.date|date("d/m/Y") }} value= {{ data_timetable.6.date|date("d/m/Y") }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='debutdimanche' id='debutdimanche' maxlength='5' data-value={{ time.6.start }} value={{ time.6.start }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='findimanche' id='findimanche' maxlength='5' data-value={{ time.6.end }} value={{ time.6.end }} />
    				</td>
    				<td>
    				    <input class='input' type='time' name='pausedimanche' id='pausedimanche' maxlength='5' data-value={{ time.6.break }} value={{ time.6.break }} />
    				</td>
    				<td>
    				    <input class='input' type='text' name='tpsdimanche' id='tpsdimanche' disabled data-value={{ time.6.workingtime }} value={{ time.6.workingtime }} />
    				</td>
    				<td class='deplacement'>
    					<input type="checkbox" name='deplacementdimanche' id='deplacementdimanche' data-value={{ time.6.travel }} >
    				</td>
    				<td class="selectabsence">
    					<select name='absencedimanche' id='absencedimanche' data-value="{{ time.6.absencename }}" >
        					<option value='Aucune'></option>
        					<option value='RTT'>{{"RTT"|trans}}</option>
        					<option value='CP'>{{"Congés payés"|trans}}</option>
        					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
        					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
        					<option value='Maladie'>{{"Maladie"|trans}}</option>
        					<option value="AT">{{"Arrêt de travail"|trans}}</option>
        					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
        					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
    					</select>
    				</td>
    				<td class='absenceday' >
    					<select name='absencedaydimanche' id='absencedaydimanche' data-value={{time.6.absenceduration}} >
    					    <option value="empty"></option>
    					    <option value='0.5'>{{'0,5'|trans}}</option>
                            <option value='1'>{{'1'|trans}}</option>
    					</select>
    				    <input class='input' type='time' name='absencetimedimanche' id='absencetimedimanche' maxlength='5'/>
    				</td>
    				<td>
    				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder="{{'Saisir un commentaire'|trans}}" data-value={{ time.6.comment }} value="{{ time.6.comment }}" />
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
	<div>
        {{'Saisie automatique des heures (Cochez les jours que vous souhaitez remplir et saisissez les valeurs dans les champs début fin pause ci-dessous)'|trans}}
		<br>
		<input type='checkbox' name='lundi' id='check_lundi'>{{ 'Lundi'|trans }}
		<input type='checkbox' name='mardi' id='check_mardi'> {{ 'Mardi'|trans }}
		<input type='checkbox' name='mercredi' id='check_mercredi'>{{ 'Mercredi'|trans }}
		<input type='checkbox' name='jeudi' id='check_jeudi'>{{ 'Jeudi'|trans }}
		<input type='checkbox' name='vendredi' id='check_vendredi'>{{ 'Vendredi'|trans }}
		<input type='checkbox' name='samedi' id='check_samedi'>{{ 'Samedi'|trans }}
		<input type='checkbox' name='dimanche' id='check_dimanche'>{{ 'Dimanche'|trans }}<br>
		{{ 'Debut'|trans }}<input class='input' type='text' id='debutauto'>
		{{ 'Fin'|trans }}<input class='input' type='text' id='finauto'>
		{{ 'Pause'|trans }}<input class='input' type='text' id='pauseauto'>
	</div><br>
    <a id='saisie_auto' class='btnauto' onclick='saisie_auto()'>{{'Saisie Automatique'|trans}}</a><br><br>
    <a id='work_less' class='btnpage' href="{{ path('schedule_workless')}}" >{{'Semaine Précédente'|trans}}</a>
    <a id='work_more' class='btnpage' href="{{ path('schedule_workmore')}}" >{{'Semaine Suivante'|trans}}</a><br><br>

    <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
</form>

<br><br>{{'Temps travaillé dans la semaine'|trans}} <input disabled type="text" id="timeweek"></input>
{% endif %}

{% if is_granted('ROLE_CADRE') %}
<form role="form" action="{{ path('schedule_savetimefm') }}" method='post'>
    <div id="contenu">
        <p id="titreconfig">
            <b>{{'Temps de travail'|trans}}</b>
            {{"Voici la semaine"|trans}} {{ app.session.get('no_week') }} {{"d'affichée de l'année"|trans}} {{ app.session.get('year') }}
        </p>
	    <div class='table-responsive'>
	        <table id='table_temps' class='table'>
                <thead>
            		<tr>
            			<td>{{'Jour de la semaine'|trans}}</td>
            			<td>{{'Journée travaillée'|trans}}</td>
            			<td>{{'Déplacement'|trans}}</td>
            			<td>{{'Absence'|trans}}</td>
            			<td>{{'Temps Absence'|trans}}</td>
            			<td>{{'Commentaire'|trans}}</td>
            		</tr>
            	</thead>
        		<tbody>
        			<tr>
        				<td id="{{ data_timetable.0.id }}" data-value="{{ data_timetable.0.id }}" data-id={{ time.0.id }} class='jour'>{{ 'Lundi'| trans }} :
        				    <input class='input' type='text' disabled name='datelundi' id='datelundi' value={{ data_timetable.0.date|date("d/m/Y") }} />
        				</td>
        				<td class'jourlundi'>
        					<select name='jourlundi' id='jourlundi' data-value="{{ time.0.workinghours }}" >
        					    <option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementlundi' id='deplacementlundi' data-value={{ time.0.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencelundi' id='absencelundi' data-value="{{ time.0.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedaylundi' id='absencedaylundi' data-value={{time.0.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimelundi' id='absencetimelundi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.0.comment }}" value={{ time.0.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.1.id }}" data-value="{{ data_timetable.1.id }}" data-id={{ time.1.id }} class='jour'>{{ 'Mardi'| trans }} :
        				    <input class='input' type='text' disabled name='datemardi' id='datemardi' value={{ data_timetable.1.date|date("d/m/Y") }} />
        				</td>
        				<td class='jourmardi'>
        					<select name='jourmardi' id='jourmardi' data-value="{{ time.1.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementmardi' id='deplacementmardi' data-value={{ time.1.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencemardi' id='absencemardi' data-value="{{ time.1.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedaymardi' id='absencedaymardi' data-value={{time.1.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimemardi' id='absencetimemardi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.1.comment }}" value={{ time.1.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.2.id }}" data-value="{{ data_timetable.2.id }}" data-id={{ time.2.id }} class='jour'>{{ 'Mercredi' | trans }} :
            				<input class='input' type='text' disabled name='datemercredi' id='datemercredi' value={{ data_timetable.2.date|date("d/m/Y") }} />
                        </td>
        				<td class'jourmercredi'>
        					<select name='jourmercredi' id='jourmercredi' data-value="{{ time.2.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementmercredi' id='deplacementmercredi' data-value={{ time.2.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencemercredi' id='absencemercredi' data-value="{{ time.2.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedaymercredi' id='absencedaymercredi' data-value={{time.2.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimemercredi' id='absencetimemercredi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.2.comment }}" value={{ time.2.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.3.id }}" data-value="{{ data_timetable.3.id }}" data-id={{ time.3.id }} class='jour'>{{ 'Jeudi' | trans }} :
            				<input class='input' type='text' disabled name='datejeudi' id='datejeudi' value={{ data_timetable.3.date|date("d/m/Y") }} />
                        </td>
        				<td class'jourjeudi'>
        					<select name='jourjeudi' id='jourjeudi' data-value="{{ time.3.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementjeudi' id='deplacementjeudi' data-value={{ time.3.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencejeudi' id='absencejeudi' data-value="{{ time.3.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedayjeudi' id='absencedayjeudi' data-value={{time.3.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimejeudi' id='absencetimejeudi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.3.comment }}" value={{ time.3.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.4.id }}" data-value="{{ data_timetable.4.id }}" data-id={{ time.4.id }} class='jour'>{{ 'Vendredi' | trans }} :
        				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' value={{ data_timetable.4.date|date("d/m/Y") }} />
        				</td>
        				<td class'jourvendredi'>
        					<select name='jourvendredi' id='jourvendredi' data-value="{{ time.4.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementvendredi' id='deplacementvendredi' data-value={{ time.4.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencevendredi' id='absencevendredi' data-value="{{ time.4.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedayvendredi' id='absencedayvendredi' data-value={{time.4.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimevendredi' id='absencetimevendredi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.4.comment }}" value={{ time.4.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.5.id }}" data-value="{{ data_timetable.5.id }}" data-id={{ time.5.id }} class='jour'>{{ 'Samedi' | trans }} :
            				<input class='input' type='text' disabled name='datesamedi' id='datesamedi' value={{ data_timetable.5.date|date("d/m/Y") }} />
                        </td>
        				<td class'joursamedi'>
        					<select name='joursamedi' id='joursamedi' data-value="{{ time.5.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementsamedi' id='deplacementsamedi' data-value={{ time.5.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencesamedi' id='absencesamedi' data-value="{{ time.5.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedaysamedi' id='absencedaysamedi' data-value={{time.5.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimesamedi' id='absencetimesamedi' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.5.comment }}" value={{ time.5.comment }} />
        				</td>
        			</tr>
        			<tr>
        				<td id="{{ data_timetable.6.id }}" data-value="{{ data_timetable.6.id }}" data-id={{ time.6.id }} class='jour'>{{'Dimanche'|trans }} :
            				<input class='input' type='text' disabled name='datedimanche' id='datedimanche' value={{ data_timetable.6.date|date("d/m/Y") }} />
        				</td>
        				<td class'jourdimanche'>
        					<select name='jourdimanche' id='jourdimanche' data-value="{{ time.6.workinghours }}" >
        						<option value='0'>0</option>
        						<option value='0.5'>1/2</option>
        						<option value='1'>1</option>
        					</select>
        				</td>
        				<td class='deplacement' >
        					<input type="checkbox" name='deplacementdimanche' id='deplacementdimanche' data-value={{ time.6.travel }} >
        				</td>
        				<td class="selectabsence">
        					<select name='absencedimanche' id='absencedimanche' data-value="{{ time.6.absencename }}" >
            					<option value='Aucune'></option>
            					<option value='RTT'>{{"RTT"|trans}}</option>
            					<option value='CP'>{{"Congés payés"|trans}}</option>
            					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
            					<option value='CSS'>{{"Congés sans solde"|trans}}</option>
            					<option value='Maladie'>{{"Maladie"|trans}}</option>
            					<option value="AT">{{"Arrêt de travail"|trans}}</option>
            					<option value="MP">{{"Maternité/Paternité"|trans}}</option>
            					<option value="Recup">{{"Récup/Heures supp"|trans}}</option>
        					</select>
        				</td>
        				<td class='absenceday' >
        					<select name='absencedaydimanche' id='absencedaydimanche' data-value={{time.6.absenceduration}} >
        					    <option value="empty"></option>
        					    <option value='0.5'>{{'0,5'|trans}}</option>
                                <option value='1'>{{'1'|trans}}</option>
        					</select>
        				    <input class='input' type='time' name='absencetimedimanche' id='absencetimedimanche' maxlength='5'/>
        				</td>
        				<td>
        				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder="{{'Saisir un commentaire'|trans}}" data-value="{{ time.6.comment }}" value={{ time.6.comment }} />
        				</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <br>
	    <a id='work_less' class='btnpage' href="{{ path('schedule_workless')}}" >{{'Semaine Précédente'|trans}}</a>
        <a id='work_more' class='btnpage' href="{{ path('schedule_workmore')}}" >{{'Semaine Suivante'|trans}}</a>
        <br><br>
        <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
    </div>
</form>

{% endif %}
{% endblock content %}