{% extends 'CoyoteSiteBundle:Base:base.html.twig' %}

{% block userinfo %}

{{ 'Bienvenue'|trans }} {{ app.session.get('username') }} |
<a href="{{ path('fos_user_security_logout') }}">
    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>

{% endblock %}

{% block link %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block stylesheets %}
   {{ include('CoyoteSiteBundle:Base:css.html.twig') }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">{{'Choisissez votre méthode de saisie des temps.'|trans}}</p>
        <p>
        	<a href={{ path('schedule_user')}} class="btntime">{{'Saisie par heure'|trans}}</a>
        	<a href={{ path('schedule_framework')}} class="btntime">{{'Saisie par jour'|trans}}</a>
	  	</p>
    </div>
{% endblock %}