{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block link %}

    <!--[if lt IE 9]>
        {{ include('CoyoteSiteBundle:Base:navigation_ie.html.twig') }}
    <![endif]-->
    <!--[if !IE]><!-->
        {{ include('CoyoteSiteBundle:Base:navigation.html.twig') }}
	<!--<![endif]-->

{% endblock %}

{% block content %}
<p id="title">{{"schedule.title.indexexportprintyear"|trans}} </p>
<form role="form" action="{{ path('schedule_exportprintyear') }}" method='get'>
    <table class='table'>
    	<tr>
    		<th>{{'schedule.period'|trans}}</th>
    	</tr>
    	<tr>
            <td>
                <select name='pay_period' id='pay_period' >
                {% for pay_period in tab_period %}
                    {% if pay_period == period %}
                    <option value={{pay_period}} selected>{{pay_period}}</option>
                    {% else %}
                    <option value={{pay_period}}>{{pay_period}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <button class='btn_red' type="submit" value="Afficher" id="afficher">{{'schedule.submit.indexexportprintyear'|trans }}</button>
</form>
{% endblock %}