{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block javascripts %}
    <!--[if IE]>
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>

        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
    <![endif]-->
    <!--[if !IE]><!-->
        <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/jquery.js') }}"></script>

        {% if is_granted('ROLE_TECH') %}
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeusers_change.js') }}"/></script>
        {% endif %}
        {% if is_granted('ROLE_CADRE') %}
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework.js') }}"/></script>
        <script src="{{ asset('bundles/coyotesite/js/script_timeframework_change.js') }}"/></script>
        {% endif %}
    <!--<![endif]-->
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('save') %}

        {{ flashMessage }}

    {% endfor %}

    {% if is_granted('ROLE_TECH') %}
        <form role="form" action="{{ path('schedule_savetime') }}" method='post'>
                <p id="titreconfig">
                    <b>{{'Temps de travail'|trans}}</b>
                    {{"Voici la semaine"|trans}} {{ app.session.get('no_week') }} {{"d'affichée de l'année"|trans}} {{ app.session.get('year') }}
                </p>
                <div class='table-responsive'>
            	    <table id='table_temps' class='table'>

                        <thead>
            		    	<tr>
                				<td>{{'Jour de la semaine'|trans}}</td>
                				<td>{{'Début'|trans}}</td>
                				<td>{{'Fin'|trans}}</td>
                				<td>{{'Pause'|trans}}</td>
                				<td>{{'Temps de travail'|trans}}</td>
                				<td>{{'Journée travaillée'|trans}}</td>
                				<td>{{'Déplacement'|trans}}</td>
                				<td>{{'Absence'|trans}}</td>
                				<td>{{'Commentaire'|trans}}</td>
                            </tr>
            		</thead>
            		<tbody> <!-- Corps du tableau -->
            			<tr>
            				<td class='jour'>{{ 'Lundi'|trans }} :
            				    <input class='input' type='text' disabled name='datelundi' id='datelundi' value={{ data_timetable.0.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutlundi' id='debutlundi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finlundi' id='finlundi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pauselundi' id='pauselundi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpslundi' id='tpslundi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourlundi' id='jourlundi' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementlundi' id='deplacementlundi' >
            					    <option value='0'>{{'Non'|trans}}</option>
                                    <option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencelundi' id='absencelundi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Mardi'|trans }} :
            				    <input class='input' type='text' disabled name='datemardi' id='datemardi' value={{ data_timetable.1.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutmardi' id='debutmardi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finmardi' id='finmardi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausemardi' id='pausemardi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpsmardi' id='tpsmardi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourmardi' id='jourmardi' disabled />
            				</td>
            				<td class='deplacement' >
            					<select name='deplacementmardi' id='deplacementmardi'>
                					<option value='0'>{{'Non'|trans}}</option>
                					<option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencemardi' id='absencemardi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder='{{'Saisir un commentaire'|trans}}' value=''/>
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Mercredi' | trans }} :
            				    <input class='input' type='text' disabled name='datemercredi' id='datemercredi' value={{ data_timetable.2.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutmercredi' id='debutmercredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finmercredi' id='finmercredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausemercredi' id='pausemercredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpsmercredi' id='tpsmercredi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourmercredi' id='jourmercredi' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementmercredi' id='deplacementmercredi' >
                					<option value='0'>{{'Non'|trans}}</option>
                					<option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencemercredi' id='absencemercredi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Jeudi' | trans }} :
            				    <input class='input' type='text' disabled name='datejeudi' id='datejeudi' value={{ data_timetable.3.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutjeudi' id='debutjeudi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finjeudi' id='finjeudi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausejeudi' id='pausejeudi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpsjeudi' id='tpsjeudi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourjeudi' id='jourjeudi' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementjeudi' id='deplacementjeudi' >
                					<option value='0'>{{'Non'|trans}}</option>
                					<option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencejeudi' id='absencejeudi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Vendredi' | trans }} :
            				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' value={{ data_timetable.4.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutvendredi' id='debutvendredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finvendredi' id='finvendredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausevendredi' id='pausevendredi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpsvendredi' id='tpsvendredi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourvendredi' id='jourvendredi' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementvendredi' id='deplacementvendredi' >
            					    <option value='0'>{{'Non'|trans}}</option>
                                    <option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencevendredi' id='absencevendredi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Samedi' | trans }} :
            				    <input class='input' type='text' disabled name='datesamedi' id='datesamedi' value={{ data_timetable.5.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutsamedi' id='debutsamedi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='finsamedi' id='finsamedi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausesamedi' id='pausesamedi' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpssamedi' id='tpssamedi' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='joursamedi' id='joursamedi' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementsamedi' id='deplacementsamedi' >
                					<option value='0'>{{'Non'|trans}}</option>
                					<option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencesamedi' id='absencesamedi' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            			<tr>
            				<td class='jour'>{{ 'Dimanche' | trans }} :
            				    <input class='input' type='text' disabled name='datedimanche' id='datedimanche' value={{ data_timetable.6.date }} />
            				</td>
            				<td>
            				    <input class='input' type='time' name='debutdimanche' id='debutdimanche' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='findimanche' id='findimanche' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='time' name='pausedimanche' id='pausedimanche' maxlength='5' />
            				</td>
            				<td>
            				    <input class='input' type='text' name='tpsdimanche' id='tpsdimanche' disabled />
            				</td>
            				<td>
            				    <input class='input' type='text' name='jourdimanche' id='jourdimanche' disabled />
            				</td>
            				<td class='deplacement'>
            					<select name='deplacementdimanche' id='deplacementdimanche' >
                					<option value='0'>{{'Non'|trans}}</option>
                					<option value='1'>{{'Oui'|trans}}</option>
            					</select>
            				</td>
            				<td>
            					<select name='absencedimanche' id='absencedimanche' >
                					<option value='Aucune'></option>
                					<option value='RTT'>{{"RTT"|trans}}</option>
                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
            					</select>
            				</td>
            				<td>
            				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder='{{'Saisir un commentaire'|trans}}' value='' />
            				</td>
            			</tr>
            		</tbody>
            	</table>
        	<div>
        	    <br>
        		    {{'Saisie automatique des heures (Cochez les jours que vous souhaitez remplir et saisissez les valeurs dans les champs début fin pause ci-dessous)'|trans}}
        		<br>
        		<input type='checkbox' name='lundi' id='check_lundi'>{{ 'Lundi'|trans }}
        		<input type='checkbox' name='mardi' id='check_mardi'> {{ 'Mardi'|trans }}
        		<input type='checkbox' name='mercredi' id='check_mercredi'>{{ 'Mercredi'|trans }}
        		<input type='checkbox' name='jeudi' id='check_jeudi'>{{ 'Jeudi'|trans }}
        		<input type='checkbox' name='vendredi' id='check_vendredi'>{{ 'Vendredi'|trans }}
        		<input type='checkbox' name='samedi' id='check_samedi'>{{ 'Samedi'|trans }}
        		<input type='checkbox' name='dimanche' id='check_dimanche'>{{ 'Dimanche'|trans }}<br>
        		{{ 'Début'|trans }}<input class='input' type='text' id='debutauto'>
        		{{ 'Fin'|trans }}<input class='input' type='text' id='finauto'>
        		{{ 'Pause'|trans }}<input class='input' type='text' id='pauseauto'>
        	</div><br>
            <a id='saisie_auto' class='btnauto' onclick='saisie_auto()'>{{'Saisie Automatique'|trans}}</a><br><br>
            <a id='work_less' class='btnpage' href="{{ path('schedule_workless')}}" >{{'Semaine Précédente'|trans}}</a>
            <a id='work_more' class='btnpage' href="{{ path('schedule_workmore')}}" >{{'Semaine Suivante'|trans}}</a><br><br>

            <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
        </form>

        <br><br><div hidden>{{'Temps travaillé dans la semaine'|trans}} <input disabled type="text" id="timeweek"></input></div>

    {% endif %}

    {% if is_granted('ROLE_CADRE') %}

    <form role="form" action="{{ path('schedule_savetimefm') }}" method='post'>
        <div id="page">
            <div class="container">
                <div id="bloc_principal">
                    <p></p>
                    <div id="contenu">
                        <p id="titreconfig">
                            <b>{{'Temps de travail'|trans}}</b>
                            {{"Voici la semaine"|trans}} {{ app.session.get('no_week') }} {{"d'affichée de l'année"|trans}} {{ app.session.get('year') }}
                        </p>
                            <div class='table-responsive'>
                        	    <table id='table_temps' class='table'>
                                	<thead>
                                		<tr>
                                			<td>Jour de la semaine</td>
                                			<td>Journée travaillée</td>
                                			<td>Déplacement</td>
                                			<td>Absence</td>
                                			<td>Commentaire</td>
                                		</tr>
                                	</thead>
                            		<tbody>
                            			<tr>
                            				<td class='jour'>{{ 'Lundi'| trans }} :
                            				    <input class='input' type='text' disabled name='datelundi' id='datelundi' value={{ data_timetable.0.date }} />
                            				</td>
                            				<td class'jourlundi'>
                            					<select name='jourlundi' id='jourlundi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementlundi' id='deplacementlundi'>
                            					    <option value='0'>{{'Non'|trans}}</option>
                            				    	<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencelundi' id='absencelundi'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairelundi' id='commentairelundi' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{ 'Mardi'| trans }} :
                            				    <input class='input' type='text' disabled name='datemardi' id='datemardi' value={{ data_timetable.1.date }} />
                            				</td>
                            				<td class='jourmardi'>
                            					<select name='jourmardi' id='jourmardi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementmardi' id='deplacementmardi'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencemardi' id='absencemardi' value=''>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairemardi' id='commentairemardi' placeholder='Saisir un commentaire'value=''/>
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{ 'Mercredi' | trans }} :
                                				<input class='input' type='text' disabled name='datemercredi' id='datemercredi' value={{ data_timetable.2.date }} />
                                            </td>
                            				<td class'jourmercredi'>
                            					<select name='jourmercredi' id='jourmercredi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementmercredi' id='deplacementmercredi'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencemercredi' id='absencemercredi'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairemercredi' id='commentairemercredi' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{ 'Jeudi' | trans }} :
                                				<input class='input' type='text' disabled name='datejeudi' id='datejeudi' value={{ data_timetable.3.date }} />
                                            </td>
                            				<td class'jourjeudi'>
                            					<select name='jourjeudi' id='jourjeudi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementjeudi' id='deplacementjeudi'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencejeudi' id='absencejeudi'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairejeudi' id='commentairejeudi' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{ 'Vendredi' | trans }} :
                            				    <input class='input' type='text' disabled name='datevendredi' id='datevendredi' value={{ data_timetable.4.date }} />
                            				</td>
                            				<td class'jourvendredi'>
                            					<select name='jourvendredi' id='jourvendredi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementvendredi' id='deplacementvendredi'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencevendredi' id='absencevendredi'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairevendredi' id='commentairevendredi' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{ 'Samedi' | trans }} :
                                				<input class='input' type='text' disabled name='datesamedi' id='datesamedi' value={{ data_timetable.5.date }} />
                                            </td>
                            				<td class'joursamedi'>
                            					<select name='joursamedi' id='joursamedi'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementsamedi' id='deplacementsamedi'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencesamedi' id='absencesamedi'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairesamedi' id='commentairesamedi' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            			<tr>
                            				<td class='jour'>{{'Dimanche'|trans }} :
                                				<input class='input' type='text' disabled name='datedimanche' id='datedimanche' value={{ data_timetable.6.date }} />
                            				</td>
                            				<td class'jourdimanche'>
                            					<select name='jourdimanche' id='jourdimanche'>
                            						<option value='0'>0</option>
                            						<option value='0.5'>1/2</option>
                            						<option value='1'>1</option>
                            					</select>
                            				</td>
                            				<td class='deplacement'>
                            					<select name='deplacementdimanche' id='deplacementdimanche'>
                                					<option value='0'>{{'Non'|trans}}</option>
                                					<option value='1'>{{'Oui'|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            					<select name='absencedimanche' id='absencedimanche'>
                                					<option value='Aucune'></option>
                                                    <option value='RTT'>{{"RTT"|trans}}</option>
                                					<option value='Congés payés'>{{"Congés payés"|trans}}</option>
                                					<option value='CA'>{{"Congés ancienneté"|trans}}</option>
                                					<option value='Congés sans solde'>{{"Congés sans solde"|trans}}</option>
                                					<option value='Maladie/At/Pat'>{{"Autres"|trans}}</option>
                            					</select>
                            				</td>
                            				<td>
                            				    <input type='text' name='commentairedimanche' id='commentairedimanche' placeholder='Saisir un commentaire' value='' />
                            				</td>
                            			</tr>
                            		</tbody>
                                </table>
                            </div>
                        <br>
                        <div id='timeweek' style='display:none;'>
                            Jour travaillé dans la semaine :
                            <input id='txt_timeweek' disabled='disabled' value='' />
                            <br>
                        </div>
                        <div id='timemonth' style='display:none;'>
                            Jour travaillé dans le mois
                            <input id='txt_timemonth' disabled='disabled'/>
                            <br>
                        </div>
                        <div id='timemonth2' style='display:none;'>
                            Jour travaillé dans le mois
                            <input id='txt_timemonth2' disabled='disabled'/>
                            <br>
                        </div>
                        <a id='work_less' class='btnpage' href="{{ path('schedule_workless')}}" >Semaine Précédente</a>
                        <a id='work_more' class='btnpage' href="{{ path('schedule_workmore')}}" >Semaine Suivante</a>
                        <br><br>
                        <button class='btnsave' type="submit" value="Enregistrer" id="enregistrer">{{ 'Enregistrer'|trans }}</button>
                        <br><br><br><br>
                    </div>
                </div>

    </form>
    {% endif %}

{% endblock content %}