<page>
<div id="lien">
    <img src="./bundles/coyotesite/images/logo1.jpg" alt="PICHON" id="logo"/>
</div>

<p style="text-align:center">{{"schedule.title.summary"|trans}}</p>

{% if dataschedule %}
<table>
    <tr>
        <td style="background:#7FC6BC; color:white">{{'schedule.holiday'|trans}}</td>
        <td style="background:#01B0F0; color:white">{{'schedule.weekend'|trans}}</td>
        <td style="background:#99CCCC; color:white">{{'schedule.working_time_week'|trans}}</td>
    </tr>
</table>

<table class='table' id='tab_expense' style="width:900px;">
	<tr style="width:900px;">
	    <th style="width: 80px; text-align:center">{{'schedule.dayofweek'|trans}}</th>
	    <th style="width: 85px; text-align:center" id='tab_time_date'>{{'schedule.date'|trans}}</th>
		<th style="text-align:center" id='tab_time_debut'>{{'schedule.start'|trans}}</th>
		<th style="text-align:center" id='tab_time_fin'>{{'schedule.end'|trans}}</th>
		<th style="text-align:center" id='tab_time_pause'>{{'schedule.break'|trans}}</th>
		<th style="width: 60px; text-align:center" id='tab_time_working_time'>{{'schedule.working_time'|trans}}</th>
		<th style="text-align:center" id='tab_time_travel'>{{'schedule.travel'|trans}}</th>
		<th style="text-align:center" id='tab_time_absence'>{{'schedule.absence'|trans}}</th>
		<th style="width: 60px; text-align:center" id='tab_time_workingtime'>{{'schedule.absence_time'|trans}}</th>
		<th style="width: 20%; text-align:center" id='tab_time_comment'>{{'schedule.comment'|trans}}</th>
	</tr>
	{% set counter = 0 %}
	{% set week_ = week[0] %}
	{% set index = -1 %}
	
	{% for data in dataschedule %}
    	{% set index = index + 1 %}
    	<tr style="width:900px;">
            
            {% if week_ != week[index] %}
                <td colspan=10 style="width: 30%; background:#99CCCC; color:white; text-align:center">{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>
                {% set counter = counter + 1 %}
            </tr><tr>
            {% endif %}
            {% if data.holiday == "1" %}
                <td style="background:#7FC6BC; color:white; text-align:center">{{ day[index]|trans}}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ date[index] }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.start }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.end }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.break }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.working_time }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.travel }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.absence_name|trans }}</td>
                <td style="background:#7FC6BC; color:white; text-align:center">{{ data.absence_duration }}</td>
                <td style="background:#7FC6BC; color:white; width: 20%">{{ data.comment }}</td>
            {% elseif day[index] == "Saturday" %}
                <td style="background:#01B0F0; color:white; text-align:center">{{ day[index]|trans }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ date[index]}}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.start }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.end }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.break }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.working_time }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.travel }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.absence_name|trans }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.absence_duration }}</td>
                <td style="background:#01B0F0; color:white; width: 20%">{{ data.comment }}</td>
            {% elseif day[index] == "Sunday" %}
                <td style="background:#01B0F0; color:white; text-align:center">{{ day[index]|trans }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ date[index]}}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.start }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.end }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.break }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.working_time }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.travel }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.absence_name|trans }}</td>
                <td style="background:#01B0F0; color:white; text-align:center">{{ data.absence_duration }}</td>
                <td style="background:#01B0F0; color:white; width: 20%">{{ data.comment }}</td>
        </tr>
        <tr>
            {% else %}
                <td style="text-align:center" >{{ day[index]|trans }}</td>
                <td style="text-align:center" >{{ date[index]}}</td>
                <td style="text-align:center" >{{ data.start }}</td>
                <td style="text-align:center" >{{ data.end }}</td>
                <td style="text-align:center" >{{ data.break }}</td>
                <td style="text-align:center" >{{ data.working_time }}</td>
                <td style="text-align:center" >{{ data.travel }}</td>
                <td style="text-align:center" >{{ data.absence_name|trans }}</td>
                <td style="text-align:center" >{{ data.absence_duration }}</td>
                <td style="width: 20%;">{{ data.comment }}</td>
            {% endif %}
            {% set week_ = week[index] %}
        </tr>
            {% if loop.last %}
        <tr>
            <td colspan=10 style="width: 30%; background:#99CCCC; color:white; text-align:center">{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>
        </tr>
            {% endif %}
    {% endfor %}

</table>
<p style="text-align:center">
    {{'schedule.number_rtt_year'|trans}} : {{rttyear}}<br>
    {{'schedule.number_cp_year' | trans }} : {{cpyear}} <br>
    {{"schedule.number_ca_year" | trans }} : {{cayear}}
</p>
{% else %}
<p style="text-align:center">{{'schedule.no_data_found'|trans}}</p>
{% endif %}

</page>