{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block content %}
<p id="titreconfig">{{'schedule.title.summary'|trans}}</p>

{% if dataschedule %}
<table>
<tr>
    <td style="background:#7FC6BC; color:white">{{'schedule.holiday'|trans}}</td>
    <td style="background:#01B0F0; color:white">{{'schedule.weekend'|trans}}</td>
    <td style="background:#99CCCC; color:white">{{'schedule.working_time_week'|trans}}</td>
</tr>
</table>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'schedule.dayofweek'|trans}}</th>
    	    <th id='tab_time_date'>{{'schedule.date'|trans}}</th>
    		<th id='tab_time_debut'>{{'schedule.start'|trans}}</th>
    		<th id='tab_time_fin'>{{'schedule.end'|trans}}</th>
    		<th id='tab_time_pause'>{{'schedule.break'|trans}}</th>
    		<th id='tab_time_workingtime'>{{'schedule.working_time'|trans}}</th>
    		<th id='tab_time_workinghours'>{{'schedule.working_hours'|trans}}</th>
    		<th id='tab_time_travel'>{{'schedule.travel'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence_time'|trans}}</th>
    		<th id='tab_time_comment'>{{'schedule.comment'|trans}}</th>
    	</tr>
    	{% set counter = 0 %}
    	{% for data in dataschedule %}
        <tr>
            {% if data.holiday == "1" %}
                <td style="background:#7FC6BC; color:white">{{ data.date|date("l")|trans}}</td>
                <td style="background:#7FC6BC; color:white">{{ data.date|date("d/m/Y")}}</td>
                <td style="background:#7FC6BC; color:white">{{ data.start }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.end }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.break }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.working_time }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.working_hours }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.travel }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.absence_name|trans }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.absence_duration }}</td>
                <td style="background:#7FC6BC; color:white">{{ data.comment }}</td>
            {% elseif data.date|date("l") == "Saturday" %}
                <td style="background:#01B0F0; color:white">{{ data.date|date("l")|trans}}</td>
                <td style="background:#01B0F0; color:white">{{ data.date|date("d/m/Y")}}</td>
                <td style="background:#01B0F0; color:white">{{ data.start }}</td>
                <td style="background:#01B0F0; color:white">{{ data.end }}</td>
                <td style="background:#01B0F0; color:white">{{ data.break }}</td>
                <td style="background:#01B0F0; color:white">{{ data.working_time }}</td>
                <td style="background:#01B0F0; color:white">{{ data.working_hours }}</td>
                <td style="background:#01B0F0; color:white">{{ data.travel }}</td>
                <td style="background:#01B0F0; color:white">{{ data.absence_name|trans }}</td>
                <td style="background:#01B0F0; color:white">{{ data.absence_duration }}</td>
                <td style="background:#01B0F0; color:white">{{ data.comment }}</td>
            {% elseif data.date|date("l") == "Sunday" %}
                <td style="background:#01B0F0; color:white">{{ data.date|date("l")|trans}}</td>
                <td style="background:#01B0F0; color:white">{{ data.date|date("d/m/Y")}}</td>
                <td style="background:#01B0F0; color:white">{{ data.start }}</td>
                <td style="background:#01B0F0; color:white">{{ data.end }}</td>
                <td style="background:#01B0F0; color:white">{{ data.break }}</td>
                <td style="background:#01B0F0; color:white">{{ data.working_time }}</td>
                <td style="background:#01B0F0; color:white">{{ data.working_hours }}</td>
                <td style="background:#01B0F0; color:white">{{ data.travel }}</td>
                <td style="background:#01B0F0; color:white">{{ data.absence_name|trans }}</td>
                <td style="background:#01B0F0; color:white">{{ data.absence_duration }}</td>
                <td style="background:#01B0F0; color:white">{{ data.comment }}</td>
        </tr>
        <tr>
                {#<td style="background:#99CCCC; color:white" colspan = 11>{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>#}
                {% set counter = counter + 1 %}
        </tr>
        <tr>
            {% else %}
                <td>{{ data.date|date("l")|trans}}</td>
                <td>{{ data.date|date("d/m/Y")}}</td>
                <td>{{ data.start }}</td>
                <td>{{ data.end }}</td>
                <td>{{ data.break }}</td>
                <td>{{ data.working_time }}</td>
                <td>{{ data.working_hours }}</td>
                <td>{{ data.travel }}</td>
                <td>{{ data.absence_name|trans }}</td>
                <td>{{ data.absence_duration }}</td>
                <td>{{ data.comment }}</td>
                {% if loop.last %}
                <tr>
                    {#<td style="background:#99CCCC; color:white" colspan = 11>{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>#}
                </tr>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}

    </table>
</div>
{{'schedule.total_time_worked_month'|trans}} : {{time}}<br>
{{'schedule.number_rtt_month_year'|trans}} : {{absencertt}} / {{rttyear}}<br>
{{'schedule.number_cp_month_year' | trans }} : {{absencecp}} / {{cpyear}} <br>
{{"schedule.number_ca_month_year" | trans }} : {{absenceca}} / {{cayear}}
{% else %}
<p style="text-align:center">{{'schedule.no_data_found'|trans}}</p>
{% endif %}

{% endblock %}