{% extends 'CoyoteSiteBundle:Schedule:index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/coyotesite/js/jquery-min.js') }}"/></script>
{% endblock %}

{% block content %}
<p>{{'schedule.title.summary'|trans}}</p>

<table>
<tr>
    <td style="background:#7FC6BC; color:white">{{'schedule.holiday'|trans}}</td>
    <td style="background:#01B0F0; color:white">{{'schedule.weekend'|trans}}</td>
</tr>
</table>

{% if dataschedule %}
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'schedule.dayofweek'|trans}}</th>
    		<th id='tab_time_date'>{{'schedule.date'|trans}}</th>
    		<th id='tab_time_workinghours'>{{'schedule.working_hours'|trans}}</th>
    		<th id='tab_time_travel'>{{'schedule.travel'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence_time'|trans}}</th>
    		<th id='tab_time_comment'>{{'schedule.comment'|trans}}</th>
    	</tr>
    	{% for entity in dataschedule %}
            <tr>
                {% if entity.holiday == "1" %}
                    <td style="background:#7FC6BC; color:white">{{ entity.day|capitalize|trans}}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.date|date("d/m/Y")}}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.working_hours }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.travel }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.absence_name|trans }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.absence_duration }}</td>
                    <td style="background:#7FC6BC; color:white">{{ entity.comment }}</td>
                {% elseif entity.day == "samedi" %}
                    <td style="background:#01B0F0; color:white">{{ entity.day|capitalize|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.date|date("d/m/Y")}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.working_hours }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.comment }}</td>
                {% elseif entity.day == "dimanche" %}
                    <td style="background:#01B0F0; color:white">{{ entity.day|capitalize|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.date|date("d/m/Y")}}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.working_hours }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white">{{ entity.comment }}</td>
                {% else %}
                    <td>{{ entity.day|capitalize|trans}}</td>
                    <td>{{ entity.date|date("d/m/Y")}}</td>
                    <td>{{ entity.working_hours }}</td>
                    <td>{{ entity.travel }}</td>
                    <td>{{ entity.absence_name|trans }}</td>
                    <td>{{ entity.absence_duration }}</td>
                    <td>{{ entity.comment }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
    {{'schedule.working_day_month_year'|trans }} : {{daymonth}} / {{dayyear}}<br>
    {{'schedule.number_rtt_month_year'|trans}} : {{absencertt}} / {{rttyear}}<br>
    {{'schedule.number_cp_month_year' | trans }} : {{absencecp}} / {{cpyear}} <br>
    {{"schedule.number_ca_month_year" | trans }} : {{absenceca}} / {{cayear}}
{% else %}
<p style="text-align:center">{{'schedule.no_data_found'|trans}}</p>
{% endif %}


{% endblock %}