<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                PICHON - WebSite
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/styles.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/bootstrap.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/justified-nav.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/coyotesite/css/signin.css') }}" type="text/css" media="all" />
            <!--[if lt IE 9]>
              <script src="{{ asset('bundles/coyotesite/js/html5shiv.min.js') }}"></script>
              <script src="{{ asset('bundles/coyotesite/js/respond.min.js') }}"></script>
            <![endif]-->
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('bundles/coyotesite/images/pichonicon.ico') }}" />
    </head>
    <div id="page">
        <body>
            <div id="bloc">
                <header>
                    <div id="lien">
                        <a href="{{ path('main_index') }}"><img src="{{ asset('bundles/coyotesite/images/logo1.png') }}" alt="PICHON" id="logo"/></a>
                    </div>
                    <nav>
                        {% block language %}
                        {% endblock %}
                        {% block userinfo %}
                        {% endblock %}
                    </nav>
                    </br>
                        {% block link %}
                        {% endblock %}
                </header>
                <section>
                    <article>
                        {% block content %}
                        {% endblock %}
                    </article>
                </section>
            </div>
            <footer>
                <p>{{'Copyright ©2014 PICHON - Tous droits réservés'|trans}} | Version 1.10.2 </p>
            </footer>
        </body>
    </div>
</html>