  <div class="container-fluid">
	<ul class="nav navbar-nav">
        {#{% if app.session.get('username') == "PROVINI Anthony" %}
        <li id="config" class="dropdown">
          <a href="{{ path('coyote_configurator') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Configurateur'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('coyote_configurator') }}">{{"Création d'une config"|trans}}</a></li>
            <li><a href="{{ path('contact_index') }}">{{"Contact"|trans}}</a></li>
          </ul>
        </li>
        <li id="config" class="dropdown">
          <a href="{{ path('formorder_new') }}" class="dropdown-toggle" data-toggle="dropdown">{{'Formulaire'|trans}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('formorder_new') }}">{{'Formulaire Bon de commande'|trans}}</a></li>
          </ul>
        </li>
        <li><a href="{{ path('coyote_registration_register') }}">{{"Création d'un utilisateur"|trans}}</a></li>
        <li><a href="{{ path('schedule_calcul') }}">{{"Calcul heure supp par semaine"|trans}}</a></li>
        {% endif %}#}
	</ul>
  </div>
