<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
	    <li id="frais"><a href="{{path('main_index')}}">{{'base.nav.accueil'|trans}}</a></li>
		<li id="frais"><a href="http://www.pichonindustries.com">{{'base.nav.site'|trans}}</a></li>
        <li id="frais"><a href="{{path('contact_index')}}">{{'base.nav.contact'|trans}}</a></li>
	</ul>
  </div>
</nav>
