    <li>
    	<a href="{{path('main_menu')}}">{{'base.nav.accueil'|trans}}</a>
    </li>
    <li>
    	<a href="http://www.pichonindustries.com">{{'base.nav.site'|trans}}</a></li>
    <li>
    	<a href="{{path('contact')}}">{{'base.nav.contact'|trans}}</a></li>
    <li>
    	<a >{{'base.choose_language'|trans}} :</a></li>
    <li id="flag">
    	<a href="{{ path('main_language', {'_locale' : 'fr'}) }}">
        	<img src="{{ asset('bundles/coyotesite/images/flag_francais.jpg') }}" alt="flag_french" id="flag_french"/>
    	</a>
    	<a href="{{ path('main_language', {'_locale' : 'en'}) }}">
        	<img src="{{ asset('bundles/coyotesite/images/flag_grande_bretagne.jpg') }}" alt="flag_english" id="flag_english"/>
    	</a>
    	<a href="{{ path('main_language', {'_locale' : 'pl'}) }}">
        	<img src="{{ asset('bundles/coyotesite/images/flag_pologne.jpg') }}" alt="flag_pologne" id="flag_pologne"/>
    	</a>
    </li>
    <li>
    	<form role="form" action="{{ path('main_menu') }}" method='post'>
        	<input type="submit" class="btn btn-default navbar-btn" value="{{'base.nav.signin'|trans}}"></input>
    	</form>
    </li>