{% extends 'CoyoteFrontBundle:Schedule:index.html.twig' %}

{% block content %}
<p id="title">{{'schedule.title.summary'|trans}} {{ "now"|date("F")|trans }} {{"now"|date("Y")}}</p>

{% if dataschedule %}
<table>
<tr>
    <td style="background:#7FC6BC; color:white; text-align: center;">{{'schedule.holiday'|trans}}</td>
    <td style="background:#01B0F0; color:white; text-align: center;">{{'schedule.weekend'|trans}}</td>
    <td style="background:#99CCCC; color:white; text-align: center;">{{'schedule.working_time_week'|trans}}</td>
</tr>
</table>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th style="text-align: center;">{{'schedule.dayofweek'|trans}}</th>
    	    <th style="text-align: center;" id='tab_time_date'>{{'schedule.date'|trans}}</th>
    		<th style="text-align: center;" id='tab_time_workinghours'>{{'schedule.working_hours'|trans}}</th>
    		<th style="text-align: center;" id='tab_time_travel'>{{'schedule.travel'|trans}}</th>
    		<th style="text-align: center;" id='tab_time_absence'>{{'schedule.absence'|trans}}</th>
    		<th style="text-align: center;" id='tab_time_absence'>{{'schedule.absence_time'|trans}}</th>
    		<th style="text-align: center;" id='tab_time_comment'>{{'schedule.comment'|trans}}</th>
    	</tr>
    	{% set counter = 0 %}
		{% set week_ = week[0] %}
		{% set index = -1 %}

		{% for data in dataschedule %}
		    {% set index = index + 1 %}
            <tr>
                {% if week_ != week[index] %}
                    {% set counter = counter + 1 %}
                </tr><tr>
                {% endif %}
                {% if holiday[index] == "1" %}
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ day[index]|trans}}</td>
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ date[index]}}</td>
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ data.working_hours }}</td>
                    {% if data.travel == 1 %}
                        <td style="background:#7FC6BC; color:white; text-align: center;">{{ "Oui"|trans }}</td>
                    {% else %}
                        <td style="background:#7FC6BC; color:white; text-align: center;">{{ "Non"|trans }}</td>
                    {% endif %}
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ data.absence_name|trans }}</td>
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ data.absence_duration }}</td>
                    <td style="background:#7FC6BC; color:white; text-align: center;">{{ data.comment }}</td>
                {% elseif day[index] == "Saturday" %}
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ day[index]|trans}}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ date[index]}}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.working_hours }}</td>
                    {% if data.travel == 1 %}
                        <td style="background:#01B0F0; color:white; text-align: center;">{{ "Oui"|trans }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white; text-align: center;">{{ "Non"|trans }}</td>
                    {% endif %}
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.comment }}</td>
                {% elseif day[index] == "Sunday" %}
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ day[index]|trans}}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ date[index]}}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.working_hours }}</td>
                    {% if data.travel == 1 %}
                        <td style="background:#01B0F0; color:white; text-align: center;">{{ "Oui"|trans }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white; text-align: center;">{{ "Non"|trans }}</td>
                    {% endif %}
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white; text-align: center;">{{ data.comment }}</td>
            </tr>
            <tr>
                {% else %}
                    <td>{{ day[index]|trans}}</td>
                    <td>{{ date[index]}}</td>
                    <td>{{ data.working_hours }}</td>
                    {% if data.travel == 1 %}
                        <td>{{ "Oui"|trans }}</td>
                    {% else %}
                        <td>{{ "Non"|trans }}</td>
                    {% endif %}
                    <td>{{ data.absence_name|trans }}</td>
                    <td>{{ data.absence_duration }}</td>
                    <td>{{ data.comment }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
</div>
{{'schedule.number_rtt_month_year'|trans}} : {{absencertt}} / {{rttyear}}<br>
{{'schedule.number_cp_month_year' | trans }} : {{absencecp}} / {{cpyear}} <br>
{{"schedule.number_ca_month_year" | trans }} : {{absenceca}} / {{cayear}}
{% else %}
<p style="text-align:center">{{'schedule.no_data_found'|trans}}</p>
{% endif %}

{% endblock %}