{% extends 'CoyoteFrontBundle:Schedule:index.html.twig' %}

{% block content %}
<p id="title">{{'schedule.title.summary'|trans}} {{ "now"|date("F")|trans }} {{"now"|date("Y")}}</p>

{% if dataschedule %}
<table>
<tr>
    <td style="background:#7FC6BC; color:white">{{'schedule.holiday'|trans}}</td>
    <td style="background:#01B0F0; color:white">{{'schedule.weekend'|trans}}</td>
    <td style="background:#99CCCC; color:white">{{'schedule.working_time_week'|trans}}</td>
</tr>
</table>
<div class='table-responsive'>
    <table class='table' id='tab_expense'>
    	<tr>
    	    <th>{{'schedule.dayofweek'|trans}}</th>
    	    <th id='tab_time_date'>{{'schedule.date'|trans}}</th>
    		<th id='tab_time_debut'>{{'schedule.start'|trans}}</th>
    		<th id='tab_time_fin'>{{'schedule.end'|trans}}</th>
    		<th id='tab_time_pause'>{{'schedule.break'|trans}}</th>
    		<th id='tab_time_workingtime'>{{'schedule.working_time'|trans}}</th>
    		<th id='tab_time_workinghours'>{{'schedule.working_hours'|trans}}</th>
    		<th id='tab_time_travel'>{{'schedule.travel'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence'|trans}}</th>
    		<th id='tab_time_absence'>{{'schedule.absence_time'|trans}}</th>
    		<th id='tab_time_comment'>{{'schedule.comment'|trans}}</th>
    	</tr>
    	{% set counter = 0 %}
		{% set week_ = week[0] %}
		{% set index = -1 %}

		{% for data in dataschedule %}
		    {% set index = index + 1 %}
            <tr>
                {% if week_ != week[index] %}
                    <td style="background:#99CCCC; color:white" colspan = 11>{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>
                    {% set counter = counter + 1 %}
                </tr><tr>
                {% endif %}
                {% if holiday[index] == "1" %}
                    <td style="background:#7FC6BC; color:white">{{ day[index]|trans}}</td>
                    <td style="background:#7FC6BC; color:white">{{ date[index]}}</td>
                    {% if data.start is null %}
                        <td style="background:#7FC6BC; color:white">{{ data.start|date("H:i", false) }}</td>
                    {% else %}
                        <td style="background:#7FC6BC; color:white">{{ data.start|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.end is null %}
                        <td style="background:#7FC6BC; color:white">{{ data.end|date("H:i", false) }}</td>
                    {% else %}
                        <td style="background:#7FC6BC; color:white">{{ data.end|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.break is null %}
                        <td style="background:#7FC6BC; color:white">{{ data.break|date("H:i", false) }}</td>
                    {% else %}
                        <td style="background:#7FC6BC; color:white">{{ data.break|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.working_time is null %}
                        <td style="background:#7FC6BC; color:white">{{ data.working_time|date("H:i", false) }}</td>
                    {% else %}
                        <td style="background:#7FC6BC; color:white">{{ data.working_time|date("H:i", false) }}</td>
                    {% endif %}
                    <td style="background:#7FC6BC; color:white">{{ data.working_hours }}</td>
                    <td style="background:#7FC6BC; color:white">{{ data.travel }}</td>
                    <td style="background:#7FC6BC; color:white">{{ data.absence_name|trans }}</td>
                    <td style="background:#7FC6BC; color:white">{{ data.absence_duration }}</td>
                    <td style="background:#7FC6BC; color:white">{{ data.comment }}</td>
                {% elseif day[index] == "Saturday" %}
                    <td style="background:#01B0F0; color:white">{{ day[index]|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ date[index]}}</td>
                    {% if data.start is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.start|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.end is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.end|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.break is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.break|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.working_time is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.working_time|date("H:i", false) }}</td>
                    {% endif %}
                    <td style="background:#01B0F0; color:white">{{ data.working_hours }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.comment }}</td>
                {% elseif day[index] == "Sunday" %}
                    <td style="background:#01B0F0; color:white">{{ day[index]|trans}}</td>
                    <td style="background:#01B0F0; color:white">{{ date[index]}}</td>
                    {% if data.start is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.start|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.end is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.end|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.break is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.break|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.working_time is null %}
                        <td style="background:#01B0F0; color:white">{{ "" }}</td>
                    {% else %}
                        <td style="background:#01B0F0; color:white">{{ data.working_time|date("H:i", false) }}</td>
                    {% endif %}
                    <td style="background:#01B0F0; color:white">{{ data.working_hours }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.travel }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.absence_name|trans }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.absence_duration }}</td>
                    <td style="background:#01B0F0; color:white">{{ data.comment }}</td>
            </tr>
            <tr>
                {% else %}
                    <td>{{ day[index]|trans}}</td>
                    <td>{{ date[index]}}</td>
                    {% if data.start is null %}
                        <td>{{ "" }}</td>
                    {% else %}
                        <td>{{ data.start|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.end is null %}
                        <td>{{ "" }}</td>
                    {% else %}
                        <td>{{ data.end|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.break is null %}
                        <td>{{ "" }}</td>
                    {% else %}
                        <td>{{ data.break|date("H:i", false) }}</td>
                    {% endif %}
                    {% if data.working_time is null %}
                        <td>{{ "" }}</td>
                    {% else %}
                        <td>{{ data.working_time|date("H:i", false) }}</td>
                    {% endif %}
                    <td>{{ data.working_hours }}</td>
                    <td>{{ data.travel }}</td>
                    <td>{{ data.absence_name|trans }}</td>
                    <td>{{ data.absence_duration }}</td>
                    <td>{{ data.comment }}</td>
                {% endif %}
                {% set week_ = week[index] %}
            </tr>
            {% if loop.last %}
            <tr>
                <td style="background:#99CCCC; color:white" colspan = 11>{{"schedule.hours_worked_week"|trans}} : {{timeweek[counter]}}</td>
            </tr>
        {% endif %}
        {% endfor %}

    </table>
</div>
{{'schedule.total_time_worked_month'|trans}} : {{time}}<br>
{{'schedule.number_rtt_month_year'|trans}} : {{absencertt}} / {{rttyear}}<br>
{{'schedule.number_cp_month_year' | trans }} : {{absencecp}} / {{cpyear}} <br>
{{"schedule.number_ca_month_year" | trans }} : {{absenceca}} / {{cayear}}
{% else %}
<p style="text-align:center">{{'schedule.no_data_found'|trans}}</p>
{% endif %}

{% endblock %}